<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  	{% if msg %}
  	alert("{{msg}}");
  	{% endif %}
  </script>
  <style>
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #FFED85;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

</style>
</head>
<body>
  <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color: #e7e7e7;margin-top:-20px;">
    <br>
<h2 class="tab-content">Bill No {{order.bill}} </h2><span>placed at {{order.created}}</span>
<br><hr>
<h4><b>Grand Total</b> {{order.grand_total}}</h4>
<hr></div>

{% for c in cart %}

<div class="media" >
  <div class="media-left" style="margin-left:10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
   <img src="{{c.product.image.url}}" class="img-responsive">
  <button type="submit" class="btn btn-primary " data-toggle="modal" onclick="modal_fired('{{c.product.id}}','{{c.product.name}}')" data-target="#myModal" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"">Review It</button>

  </div>
  <div class="media-body" style="margin-left:10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding-left:10px;" >
    <h4 class="media-heading">{{c.product.name}}</h4>

<p>{{c.quantity}}</p>
<p>{{c.total_price}}</p>

{% if c.rating == '0' %}
<form class="rating" id='stars' >
  <label>
    <input type="radio" name="stars" value="1" onclick="star(this.value,'{{c.product.id}}')"/>
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio" name="stars" value="2" onclick="star(this.value,'{{c.product.id}}')" />
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio" name="stars" value="3" onclick="star(this.value,'{{c.product.id}}')"/>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>   
  </label>
  <label>
    <input type="radio" name="stars" value="4" onclick="star(this.value,'{{c.product.id}}')" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>
  <label>
    <input type="radio" name="stars" value="5" onclick="star(this.value,'{{c.product.id}}')" />
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
    <span class="icon">★</span>
  </label>

</form>
  
{% else%}
<h4>You have rated {{c.product.name}} as {{c.rating}} stars</h4>

<a href="#" ><span class="badge glyphicon glyphicon-star" style="color:yellow;background-color:green;"><span style="padding-left:7px;font-size:17px;color:white;padding-right:4px;">{{c.rating}}</span></span></a><br>
<br>
{% endif%}




  </div>
  <br>
  <br>
  {% endfor %}
  <br>
</div>


	

		<h2>Delivery Tracking</h2>
		<p>Status: {{delivery.location}}</p>
		<p>Estimated Time Left: {{delivery.time_left}}</p>
	

	<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{order.customer.FirstName}} - </h4><h5 id="name"></h5>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="review">Review:</label>
      <div class="col-sm-10">
      <textarea class="form-control" id="review" placeholder="Enter Review"></textarea>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Submit</button>
      </div>
    </div>
  </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</body>
<script type="text/javascript">
	var id=1;
	function modal_fired(pid,pname){
		
		id=pid;
		$('#name').html(pname);
	};
	$('form').submit(function(e){
		console.log("post request");
		e.preventDefault();
		data = {'review': $('#review').val(),
				  'pid':id};
		console.log(data);

		if($('#review').val()=='')
		alert ("Empty");
		else
		{
			$.ajax({
			type: "POST",
			url: "/myorders/"+id+"/review",
			data:data,
			success: function(data){
				$('#review').text("");
				console.log(data);	
				if(data=="success")
					alert("Review Recorded");
				else
					alert("Error Occured");
			}
		});
		}
	});
</script>
<script>
	function star(rating,p_id)
	{

		console.log(rating)
		console.log(p_id)
		data = {'rating': rating,
				  'p_id':p_id};
		$.ajax({

			type:"POST",
			url: "/myorders/ratings",
			data:data,
			success:function(data){
				if(data=='success')
					alert('You Rating is submitted Successfully');
				else if(data == 'failed')
					alert('You already Rated It');
				else
					alert('Some error occured')
			}

		})
	}

</script>
</html>