{% extends 'base.html' %}
{% block body %}


<div class="container">
	<br>
<br>
<br>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Agricultural License</a></li>
  <li><a data-toggle="tab" href="#menu1">Marketing and Prices</a></li>
  <li><a data-toggle="tab" href="#menu2">Crop</a></li>
  <li><a data-toggle="tab" href="#menu3">Fertilizers & Pesticides</a></li>
  <li><a data-toggle="tab" href="#menu4">Loan And Credits</a></li>
   <li><a data-toggle="tab" href="#menu5">Policies</a></li>
</ul>


<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
<br>
<br>

<a href="http://chandigarh.gov.in/dept_agri.htm" target="new">
Information on Agriculture Department of Chandigarh</a>
<br>
<p>
Information on the Agriculture Department of Chandigarh is given. Details about the number of families having agricultural land are available. Facilities given to the farmers by the Chandigarh administration such as timely supply of inputs like pesticides, supply of adequate irrigation water from the deep-bore tube-wells etc. are provided. Users can also get information on the extension </p>
<br>
<br>
<a href="#" target="new">
Website of Agriculture Department of Haryana</a>
</a>
<br>
<p>
Detailed information on the Department of Agriculture of Haryana is provided. Information on various schemes such as the Sugar Development Scheme, Ground Water Cell Scheme, National Agricultural Insurance Scheme, etc. is given. Application forms can also be downloaded for the grant of licence of manufacture insecticides, dealer's licence, etc. Information on soil conservation, soil testing,...</p>
<br>
<br>
<a href="#" target="new">
Website of Department of Agriculture of Chhattisgarh</a>
<br>
<p>

Department of Agriculture of Chhattisgarh provides information on crops, seeds, fertilizer consumption, bio-culture, etc. Information on performance of agriculture in the state is given. Details of services such as agri-subsidy, seed procurement, agri-budget, etc. are given. Agriculture forms, animal husbandry forms, seed certification forms, etc. are provided. Related information like fee...</p>
<br>
<br>
<a href="#" target="new">
Insecticide licensing system in West Bengal</a>
<br>
Detailed information on the insecticide licensing system in West Bengal is provided by Department of Agriculture of the state. Users can find details related to pesticide licensing system services such as application for manufacturing licence, insecticide licence, renewal of licence, duplicate licence, transfer of licence and endorsement application. Information on fee structure for licences,...
<br>
<br>

<a href="#" target="new">
Permit form for import and export of vegetables and cattle</a>
<br>
Downloadable application form for obtaining permit for import and export of vegetables and cattle by Department of Trade and Commerce, Mizoram.
<br>
<br>
<a href="#" target="new">
Information on seed licence in Maharashtra</a>
<br>
Get information about seed licensing in the state of Maharashtra. Users can get details related to procedure of seed licencing, renewal of licence, cotton seed licence, etc. Information about inclusion of new varieties in seed licence and addition or deletion of storage or new sale point is also available.
<br>
<br>

<a href="#" target="new">
Application form for registration of private research variety of Maize/Bajra in Gujarat</a>
<br>
Download the format of application form for registration of private research variety of Maize/Bajra in Gujarat. Users need to fill information such as name of the firm, address, phone number, location, name of the variety, research details, etc.
<br>
<br>
<a href="#" target="new">
Registration form for contract farming in Gujarat</a>

<br>
Find registration form for contract farming in Gujarat. This form is provided by the Agriculture and Cooperation Department, Gujarat. Users can download and fill the form according to their requirement.

<br>
<br>
<a href="#" target="new">
Licensing and registration system of Food Safety and Standards Authority of India</a>
<br>
Licensing and Registration System of the Food Safety and Standards Authority of India (FSSAI) helps users to register for licence, check the status of application, eligibility details, fees, etc. online. Users can check the status of licence application. Downloadable user reference manual is also provided.

<br>
<br>
<a href="#" target="new">
Website of Ministry of Agriculture & Farmers Welfare</a>
<br>
Information is provided about th
Marketing and Prices
Menu 2
e Ministry of Agriculture & Farmers Welfare. Users can find details related to programmes and schemes related to horticulture, seeds, plant protection, etc. Information about drought management, vigilance, weather and agricultural activities is given. Reports related to various agricultural topics are also available. Information about the Department of...

<br>
<br>
<a href="#" target="new">
Information on licence for agricultural products</a>
<br>
Users can get detailed information about the licence for various agricultural products provided by the Food Safety and Standard Authority of India (FSSAI). The FSSAI has also provided various downloadable forms for licencing, registration and renewal. List of Designated Officers for licencing is also available.

<br>
<br>
<a href="#" target="new">
Central Insecticides Board and Registration Committee</a>
<br>
The Central Insecticides Board and Registration Committee is responsible to advice the Central and State governments on technical matters related to insecticides. Information on the procedure for registration of insecticides under the Insecticides Act is given. Facility for online registration and checking application status for the same is also available. Guidelines for data requirements are...

<br>
<br>
<a href="#" target="new">
Application for registration of dairy plant under Department of Animal Husbandry, Dairying & Fisheries</a>
<br>
<a href="#" target="blank">
Application form for registration of Dairy Plant under Department of Animal Husbandry, Dairying & Fisheries (DAHD), Ministry of Agriculture.
</a>
<br>
<br></p>
  </div>


  <div id="menu1" class="tab-pane fade">
    <br>
   <a href="#" target="new">
List of State Agricultural Marketing Boards
</a>
<br>
Get information on State Agricultural Marketing Boards or Directorates. Users can access Karnataka State Agricultural Marketing Board, Rajasthan State Marketing Board, Jharkhand State Agricultural Marketing Board, etc.
<br><br>
 <a href="#" target="new">
Policy initiatives in agricultural marketing division</a>
<br>
Information on the policy initiatives in agricultural marketing division is provided by the Department of Agriculture and Cooperation under the Ministry of Agriculture. Detailed information on the Marketing Research and Information Network (MRIN), construction of rural godowns, marketing reforms, Small Farmers Agribusiness Consortium (SFAC), strengthening of agricultural marketing...
<br><br>
 <a href="#" target="new">
Website of Agriculture Department of Haryana</a>
<br>
Detailed information on the Department of Agriculture of Haryana is provided. Information on various schemes such as the Sugar Development Scheme, Ground Water Cell Scheme, National Agricultural Insurance Scheme, etc. is given. Application forms can also be downloaded for the grant of licence of manufacture insecticides, dealer's licence, etc. Information on soil conservation, soil testing,...
<br><br>
 <a href="#" target="new">
Farm Produce Price Policy by Department of Agriculture and Cooperation</a>
<br>
Get information on Farm Produce Price Policy by Department of Agriculture and Cooperation, Ministry of Agriculture. Users can get details related to cost of production, trends in market prices, inter-crop price parity, international market price situation, effect on general price level, etc. Access to minimum support prices, wholesale prices of commercial crops, wholesale prices of non-...
<br><br>
 <a href="#" target="new">
Meghalaya State Agricultural Marketing Portal</a>
<br>
Get detailed information on the Meghalaya State Agricultural Marketing Portal. Information is available on current bazar prices, commodity profile, market profile, agricultural produces, schemes, etc. Details on online market prices is provided. Users can also login to access related information.
<br><br>
 <a href="#" target="new">
Farmers' Portal of India by Department of Agriculture and Cooperation</a>
<br>
The Farmers' Portal of the Department of Agriculture & Cooperation is a platform for farmers to seek any information related to agriculture. Detailed information on farmers’ insurance, agricultural storage, crops, extension activities, seeds, pesticides, farm machineries, etc. is provided. Details of fertilizers, market prices, package and practices, programmes, welfare schemes are also...
<br><br>
 <a href="#" target="new">
Website of Punjab State Agricultural Marketing Board</a>
<br>
Get detailed information on the Punjab State Agricultural Marketing Board. Information is provided on organisation, thrust areas, acts, rules, commodity arrivals and prices, plot sale, etc. Weather forecast and information for farmers is available.
<br><br>
 <a href="#" target="new">
Website of Delhi Agricultural Marketing Board</a>
<br>
Users can get detailed information on the Delhi Agricultural Marketing Board. Information on current bazar rates, commodity rates, weekly markets, average price trend, monthly markets, average commodity arrival trend, weekly price variations, etc. is provided. Search option for online market rates is also given.
<br><br>
 <a href="#" target="new">
Agricultural and Processed Food Products Export Development Authority</a>
<br>
Detailed information about the Agricultural and Processed Food Products Export Development Authority (APEDA) is provided. Users can find information related to corporates, registration procedure, agricultural products and trade. Details of financial assistance schemes and exports 
are available.
<br><br>
 <a href="#" target="new">
Website of North Eastern Regional Agricultural Marketing Corporation</a>
<br>
North Eastern Regional Agricultural Marketing Corporation (NERAMAC) under the Ministry of Development of North Eastern Region aims to support farmers or producers of north east getting remunerative prices for their produce and thereby bridge the gap between the farmers and the market and also to enhance the agricultural, procurement, processing and marketing infrastructure of the North Eastern...
<br><br>
 <a href="#" target="new">
Agri Exchange by Agricultural and Processed Food Products Export Development Authority</a>
<br>
Agri Exchange is the Trade portal of the Agricultural and Processed Food Products Export Development Authority (APEDA), Ministry of Commerce and Industries. Users can get information about various agriculture products’ profile, statistics, import and export tariffs, country profile etc. Details of Foreign Trade Agreements (FTAs) are also available. Latest buy and sell offers are provided for...
<br><br>
 <a href="#" target="new">
Website of Agmarknet</a>
<br>
Agmarknet is an initiative towards globalisation of Indian agriculture by the Ministry of Agriculture under Government of India. This portal provides detailed information on the agriculture marketing reform, marketing research, market profile, prices, agricultural commodities, commodity arrivals, contract farming, etc. Details of commodities and agricultural markets are provided. Market...
<br><br>
 <a href="#" target="new">
Website of Ministry of Agriculture & Farmers Welfare</a>
<br>
Information is provided about the Ministry of Agriculture & Farmers Welfare. Users can find details related to programmes and schemes related to horticulture, seeds, plant protection, etc. Information about drought management, vigilance, weather and agricultural activities is given. Reports related to various agricultural topics are also available. Information about the Department of...
<br><br>
 <a href="#" target="new">
Information about National Agricultural Market Atlas</a>
<br>
National Agricultural Market Atlas (NAMA) is an offshoot of the AGMARKNET with an additional component of spatial data. It provides the GIS web interface to visualize the daily market scenario on the national map. Users can find interactive dynamic market atlas and national atlas. Information on the Directorate of Marketing and Inspections and National Institute of Agricultural Marketing, etc...
<br><br>
 <a href="#" target="new">
Departments of Agriculture of states and Union Territories</a>
<br>
The Department of Agriculture and Cooperation has provided links for the states and Union Territories' Agriculture Departments. One needs to click on the name of the state or Union Territory to access the website of its agriculture department.

Pages

  </div>
  <div id="menu2" class="tab-pane fade">

<br>
<br>
<a href="#" target="new">

Information on Agriculture Department of Chandigarh</a>
<br>
Information on the Agriculture Department of Chandigarh is given. Details about the number of families having agricultural land are available. Facilities given to the farmers by the Chandigarh administration such as timely supply of inputs like pesticides, supply of adequate irrigation water from the deep-bore tube-wells etc. are provided. Users can also get information on the extension and...
<br>
<br>
<a href="#" target="new">
Progress report on Kharif and Rabi crops in Chhattisgarh</a>
<br>
Get the progress report of Kharif and Rabi crops growth in Chhattisgarh. Users can get information about state level area, production and productivity of crops. A year-wise detail about crop production progress is available. Information about paddy, wheat, sorghum (Jwar), Maize, miner millets (Kodo- kutki), pulses, oilseed and many other crops is also given.
<br>
<br>
<a href="#" target="new">
Website of Agriculture Department of Haryana</a>
<br>
Detailed information on the Department of Agriculture of Haryana is provided. Information on various schemes such as the Sugar Development Scheme, Ground Water Cell Scheme, National Agricultural Insurance Scheme, etc. is given. Application forms can also be downloaded for the grant of licence of manufacture insecticides, dealer's licence, etc. Information on soil conservation, soil testing,...
<br>
<br>
<a href="#" target="new">
Website of Department of Agriculture of Chhattisgarh</a>
<br>
Department of Agriculture of Chhattisgarh provides information on crops, seeds, fertilizer consumption, bio-culture, etc. Information on performance of agriculture in the state is given. Details of services such as agri-subsidy, seed procurement, agri-budget, etc. are given. Agriculture forms, animal husbandry forms, seed certification forms, etc. are provided. Related information like fee...
<br>
<br>
<a href="#" target="new">
Information on cultivation of wheat by Department of Agriculture of Meghalaya</a>
<br>
Information on cultivation of wheat is provided by the Agriculture Department of Meghalaya. Get details of recommended varieties of wheat such as Sonalika, Kalyan Sona, Girija etc. Details about the selection and preparation of land are also provided. Information on time of sowing, seed treatment, seed rate etc. is available. Get information on manures, fertilizers, weed control, irrigation,...
<br>
<br>
<a href="#" target="new">
Agricultural statistics by Department of Agriculture and Cooperation</a>
<br>
Users can view agricultural statistics by Department of Agriculture and Cooperation. One can check year wise agricultural statistics just by clicking on the provided links. Details of varieties of crops are also provided.
<br>
<br>
<a href="#" target="new">
Website of Central Tuber Crops Research Institute</a>
<br>
The Central Tuber Crops Research Institute (CTCRI) conducts basic and applied research on various edible tropical tuber crops. Users can find information related to the institute's research, services, regional centres, scientists, divisions, etc. Details related to post graduate studies offered by the institute are also available.
<br>
<br>
<a href="#" target="new">
Agriculture crop calendar by Department of Agriculture of Meghalaya</a>
<br>
Get information about crop calendar by Department of Agriculture of Meghalaya. Details about various crops sown and harvested such as soyaben, maize, paddy, mustard, etc. during different months are given.
<br>
<br>
<a href="#" target="new">
Website of Central Plantation Crops Research Institute</a>
<br>
The Central Plantation Crops Research Institute (CPCRI) conducts research for better production of coconut, arecanut and cocoa agricultural products. Information related to research projects, patents, varieties or hybrids developed coconuts, technologies used for commercialization etc. is given. Details of regional centres, services, training, laboratories and equipments for agriculture...
<br>
<br>
<a href="#" target="new">
Financial assistance from Sugar Development Fund towards promoter's contribution</a>
<br>
Get application form for financial assistance from Sugar Development Fund towards promoter's contribution for financing modernization/rehabilitation scheme in Gujarat. This form is provided by the Agriculture and Cooperation Department, Gujarat.
<br>
<br>
<a href="#" target="new">
Application form for financial assistance for sugarcane development in Gujarat</a>
<br>
Get downloadable application form for financial assistance for sugarcane development in Gujarat. This form is provided by the Agriculture and Cooperation Department, Gujarat. Users have to download the form and fill the required fields.

<a href="#" target="new">
Application form for registration of private research variety of hybrid cotton in Gujarat</a>
<br>
Get the format of application form for registration of private research variety of hybrid cotton in Gujarat. This form is provided by the Agriculture and Cooperation Department, Gujarat. Users need to fill information such as name of the firm, address, phone number, location, name of the variety, research details, etc.
<br>
<br>
<a href="#" target="new">
Application form for registration of private research variety of Maize/Bajra in Gujarat</a>
<br>
Download the format of application form for registration of private research variety of Maize/Bajra in Gujarat. Users need to fill information such as name of the firm, address, phone number, location, name of the variety, research details, etc.
<br>
<br>
<a href="#" target="new">
Website of National Research Centre for Orchids in Sikkim</a>
<br>
The National Research Centre for Orchids in Sikkim undertakes mission oriented research programme on crop improvement, crop production and post harvest management. Detailed information about the Centre's mission, research work and officials is provided. Details of projects of institute and externally funded projects are also available. Information on collaborations, achievements, facilities,...
<br>
<br>
<a href="#" target="new">
Kharif Campaign survey in Odisha</a>
<br>
User get the information on the statistical report on kharif Champaign on 2008 by the department of the agriculture Odisha, which gives detail information on the crop production, expansion of technology transfer, campaign strategy etc.


  </div>
  <div id="menu3" class="tab-pane fade">
<br>
<a href="#" target="new">
Information on Agriculture Department of Chandigarh</a>
<br>

Information on the Agriculture Department of Chandigarh is given. Details about the number of families having agricultural land are available. Facilities given to the farmers by the Chandigarh administration such as timely supply of inputs like pesticides, supply of adequate irrigation water from the deep-bore tube-wells etc. are provided. Users can also get information on the extension and...
<br>
<br>
<a href="#" target="new">
Website of Agriculture Department of Haryana</a>
<br>

Detailed information on the Department of Agriculture of Haryana is provided. Information on various schemes such as the Sugar Development Scheme, Ground Water Cell Scheme, National Agricultural Insurance Scheme, etc. is given. Application forms can also be downloaded for the grant of licence of manufacture insecticides, dealer's licence, etc. Information on soil conservation, soil testing,...
<br>
<br>
<a href="#" target="new">
Website of Department of Agriculture of Chhattisgarh</a>
<br>

Department of Agriculture of Chhattisgarh provides information on crops, seeds, fertilizer consumption, bio-culture, etc. Information on performance of agriculture in the state is given. Details of services such as agri-subsidy, seed procurement, agri-budget, etc. are given. Agriculture forms, animal husbandry forms, seed certification forms, etc. are provided. Related information like fee...
<br>
<br>
<a href="#" target="new">
Website of Madras Fertilizers Limited</a>
<br>

Madras Fertilizers Limited is a Public Sector Undertaking under administrative control of the Department of Fertilizers, Ministry of Chemicals and Fertilizers. Users can get detailed information on products, plant, marketing, services and corporate planning.
<br>
<br>
<a href="#" target="new">
Rashtriya Chemicals and Fertilizers Limited</a>
<br>

Detailed information is provided on the Rashtriya Chemicals and Fertilizers Limited and its objectives and mission. Users can access information related to products, services, finance, vigilance, recruitment, grievance redressal, and code of conduct for the company directors.
<br>
<br>
<a href="#" target="new">
Information on restricted and banned pesticides
</a>
<br>

Information on pesticides and pesticide formulations banned by the Central Insecticides Board and Registration Committee is given. Users can get list of pesticides banned for manufacture, import and use, pesticides and pesticide formulations banned for use etc. List of pesticides restricted to use is also available. Detail information on pesticide formulations banned for import, manufacture...
<br>
<br>
<a href="#" target="new">
Information on fertilizer projects by Department of Fertilizers
</a><br>

You can get get information on fertilizers projects provided by the Department of Fertilizers. Detailed information on the domestice projects and overseas projects or joint venture projects of fertilizers is available.
<br>
<br>
<a href="#" target="new">
Insecticide licensing system in West Bengal</a>
<br>

Detailed information on the insecticide licensing system in West Bengal is provided by Department of Agriculture of the state. Users can find details related to pesticide licensing system services such as application for manufacturing licence, insecticide licence, renewal of licence, duplicate licence, transfer of licence and endorsement application. Information on fee structure for licences,...
<br>
<br>
<a href="#" target="new">
Information on Pesticide and Documentation Unit</a>
<br>

The Pesticides Unit monitors the demand and availability of pesticides in states for adoption of crop protection measures. Users can get detailed information on pesticide monitoring unit, production of unit and state wise demand of pesticides.
<br>
<br>
<a href="#" target="new">
Website of Fertilisers and Chemicals Travancore Limited
</a><br>

Information about the Fertilisers and Chemicals Travancore Limited (FACT) is provided. Detailed information about the company's functions, management, projects and facilities etc. Users can also find details of fraud prevention policy, contract engineers, operators and skill development courses etc.
<br>
<br>
<a href="#" target="new">
Farmers' Portal of India by Department of Agriculture and Cooperation</a>
<br>

The Farmers' Portal of the Department of Agriculture & Cooperation is a platform for farmers to seek any information related to agriculture. Detailed information on farmers’ insurance, agricultural storage, crops, extension activities, seeds, pesticides, farm machineries, etc. is provided. Details of fertilizers, market prices, package and practices, programmes, welfare schemes are also...
<br>
<br>
<a href="#" target="new">
Details of fertilizer dealers by DACNET</a>
<br>

Users can view details of fertilizer dealers provided by the Developed by Agricultural Informatics Division. States and districts wise details of authorised fertilizers dealers are given for the users.
<br>
<br>
<a href="#" target="new">
Registration of Fertiliser Certificates System of Odisha</a>
<br>

Get information on registration of fertiliser certificates for selling of all permissible fertilisers in Odisha. Information on how to apply online for certificate and print application form and acknowledgment and application fee is given. Users can check application status online. List of fertiliser dealers, expired fertiliser wholesalers and expired fertiliser retailers is also available....
<br>
<br>
<a href="#" target="new">
Website of National Fertilizers Limited</a>
<br>

National Fertilizers Limited has five urea plants and its main function apart from producing urea includes manufacturing and marketing of Industrial products, trading of complex fertilizers and other agro-products. Users can get detailed information related to the company, plants, products, marketing, farmers, vigilance and tenders. Details of manufacturing and marketing network as well as job...
<br>
<br>
<a href="#" target="new">
Website of Fertilizer Corporation of India Limited</a>
<br>

Detailed information is provided on the Fertilizer Corporation of India Limited. Users can also access information related to units, management, and products such as ammonia, urea, Ammonium Nitrate(Prill), Ammonium Nitrate(Flake), Ammonium Nitrate (Melt), Nitric Acid, Ammonium Bicarbonate and Gypsum etc.
<br>
<br>

  </div>
  <div id="menu4" class="tab-pane fade">
<a href="#" target="new">
	<br>
	<br>
Information on banks in agricultural sector</a>
<br>
Detailed information on banks in agricultural sector is provided by the Farmer Portal. Users can find names of the banks and their schemes. Links of all banks providing agricultural loans and credit schemes are also given.

<br><br>
<a href="#" target="new">
Website of Allahabad Bank</a>
<br>
Get information about the Allahabad Bank. Users can find details about various services offered by the bank such as educational loan, cash management services, depository services, online payment, etc. Information about deposit schemes, credit schemes, service charges and fee, interest rate, mutual funds, etc. is given. Details related to new pension scheme, Ayushman Bima Yojana, regional MSME...

<br><br>
<a href="#" target="new">
Website of Agriculture Department of Haryana</a>
<br>
Give Website of Agriculture Department of Haryana 5/5
Detailed information on the Department of Agriculture of Haryana is provided. Information on various schemes such as the Sugar Development Scheme, Ground Water Cell Scheme, National Agricultural Insurance Scheme, etc. is given. Application forms can also be downloaded for the grant of licence of manufacture insecticides, dealer's licence, etc. Information on soil conservation, soil testing,...

<br><br>
<a href="#" target="new">
Website of Haryana State Cooperative Apex Bank Ltd.</a>
<br>
Get information on the Haryana State Cooperative Apex Bank Ltd. (HARCO). Users can get details related to the bank, its branches, board of directors, training institute, etc. Information about service charges, fee, loans, interest rates, deposit schemes, etc. is given.

<br><br>
<a href="#" target="new">
Website of Tripura State Cooperative Bank Limited</a>
<br>
Information about the Tripura State Cooperative Bank Limited (TSCB) is given. Users can find details on the bank, its services, branches, interest rate, insurance, loans, rural development policies, etc. Information about the Kishan credit card scheme and farmers club are also available.

<br><br>
<a href="#" target="new">
Farmers' Portal of India by Department of Agriculture and Cooperation</a>
<br>
The Farmers' Portal of the Department of Agriculture & Cooperation is a platform for farmers to seek any information related to agriculture. Detailed information on farmers’ insurance, agricultural storage, crops, extension activities, seeds, pesticides, farm machineries, etc. is provided. Details of fertilizers, market prices, package and practices, programmes, welfare schemes are also...

<br><br>
<a href="#" target="new">
Crop loan and Kisan credit card by Haryana Agriculture Department</a>
<br>
Get information about the crop loan and Kisan Credit Card by Department of Agriculture of Haryana. Information is given about purpose of the loan, beneficiaries who can borrow, amount and period of the loan admissible, frequency and mode of release of funds, etc. Details on documentation, repayment, rate of interest and penal rate of interest are also given. Users can also download the related...

<br><br>
<a href="#" target="new">
Information on agricultural credit sector in Karnataka</a>
<br>
Users can find information on agricultural credit sector by the Department of Cooperation of Karnataka. Details of short, medium and long term loans are provided. Information on the Kishan credit cards and Self Help Group is also given.

<br><br>
<a href="#" target="new">
Get application for Minor Irrigation Pond on Shramdan-cum-Subsidy in Andaman & Nicobar</a>
<br>
Downloadable application form for Minor Irrigation Pond on Shramdan-cum-Subsidy in Andaman & Nicobar. This form is provided by the Department of Agriculture, Andaman & Nicobar Administration. Users can download and fill the form according to their requirement.

<br><br>
<a href="#" target="new">
Application form for Pumpset on Cash-cum-Subsidy basis under the Minor Irrigation Scheme in Andaman & Nicobar</a>
<br>
Find downloadable application form for Pumpset on Cash-cum-Subsidy basis under the Minor Irrigation Scheme in Andaman & Nicobar. This form is provided by the Department of Agriculture, Andaman & Nicobar Administration. Users need personal and other information such as name, address, phone number, email id, etc.

<br><br>
<a href="#" target="new">
Download form for pumpset on loan-cum-subsidy under Minor Irrigation Scheme in Andaman & Nicobar (Form C)</a>
<br>
Get application form for pumpset on loan-cum-subsidy under Minor Irrigation Scheme in Andaman & Nicobar. This form is provided by the Department of Agriculture, Andaman & Nicobar Administration. Users can download and fill the form according to their requirement.

<br><br>
<a href="#" target="new">
Application for availing tractor implements & accessories on loan-cum-subsidy in Andaman & Nicobar (Form B)</a>
<br>
Get application form for availing tractor implements & accessories on loan-cum-subsidy (Form B) in Andaman & Nicobar. This form is provided by the Department of Agriculture, Andaman & Nicobar Administration. Users can download and fill the form according to their requirement.

<br><br>
<a href="#" target="new">
Download application form for Coconut New Planting Subsidy in Andaman & Nicobar</a>
<br>
Find the application form for Coconut New Planting Subsidy in Andaman & Nicobar by Department of Agriculture, Andaman & Nicobar Administration. Downloadable form is available along with instructions and FAQs. Users need personal and other information such as name, address, phone number, email id, etc.

<br><br>
<a href="#" target="new">
Website of North Eastern Development Finance Corporation Ltd</a>
<br>
North Eastern Development Finance Corporation Ltd (NEDFi) provides financial assistance to micro, small, medium and large enterprises for setting up industrial, infrastructure and agri-allied projects in the North Eastern Region of India and also Microfinance through MFI or NGOs. Information about NEDFi, their schemes such as Rupee Term Loan Scheme, Equipment Finance Scheme, Working Capital...

<br><br>
<a href="#" target="new">
Website of Ministry of Agriculture & Farmers Welfare</a>
<br>
Information is provided about the Ministry of Agriculture & Farmers Welfare. Users can find details related to programmes and schemes related to horticulture, seeds, plant protection, etc. Information about drought management, vigilance, weather and agricultural activities is given. Reports related to various agricultural topics are also available. Information about the Department of...

<br><br>
  </div>
  <div id="menu5" class="tab-pane fade">
  <br>
  <br>
<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Union
Agriculture and Farmers Welfare Minister stated that NRRI is carrying out
researches on Doubled Haploid. He added that they are developing a technique which
after having been successful will lead the farmers not to purchase the seed of
hybrid rice species from the market. Through this technique the properties of
hybrid rice will be transferred to other rice species. Minister further added
that National Rice Research Institute continuously trying to make the rice
farming beneficial and lasting. </span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Shri
Singh told the gathering that after having formed the Government in May, 2014,
a number of programmes had been launched for the welfare of the farmers which
resulted in positive changes in the lives of farmers. He mentioned the
following schemes in this respect:</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><b><u><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Pradhan
Mantri Krishi Sinchayee Yojana: </span></u></b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman","serif"'> <b>Pradhan Mantri
Krishi Sinchayee Yojana </b>has been launched to provide relief to the farmers
due to poor monsoon. Under this scheme emphasis are being put on “water to each
and every farm” that is to say to provide facilities of irrigation to each and
every farmer along with enhancement of <b>water conservation skill.</b>  </span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Government
of India is committed to encourage investment in the field of irrigation on
water conservation and regional level along with the management concerned. 
Under assured irrigation scheme, emphasis is being laid on cultivable land,
improvement in the skill of water conservation on the field, precision
irrigation encouragement to the sophisticated technology to save water, to
enhance the potentiality of aquifer, to use the waste water of Municipal
Corporation etc., through this process irrigation projects are being promoted
through private investment. </span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
style='font-size:6.0pt;line-height:115%;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><b><u><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Paramparagat
Krishi Vikas Yoaja: </span></u></b><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman","serif"'>To promote bio-farming in the
country, NDA Government launched an initiative in 2015. According to the
scheme, the farmers are being encouraged to adopt bio-farming by making
clusters in the country. To be benefited from this scheme at least a cluster of
50 farmers is required along with an area of land with 50 acre. Under this
scheme, every farmer will be provided Rs. 20,000/- per acre for the span of
three year. Farmers will utilize this amount for the purchase of bio-seeds,
harvesting and to transport the agricultural products to the local market. </span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><b><u><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Soil
Health Card Scheme: </span></u></b><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman","serif"'>Government has initiated Soil
Health Card scheme to provide farmers Soil Health Card in a mission mode. This
card will contain the knowhow of the new trend in the soil and accordingly the
required quantity of fertilizers. Through that farmers will be capable enough
to obtain more products on their farms. Through this card, the farmers will
know the fertility of their fields. The expert will sort out the problem
concerned with soil.  Though this card the farmers will monitor the change of
quality related to the soil after  prolong use of the farms in agriculture
process and they will benefit from the soil card to maintain the health of the
soil.  </span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><b><u><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Pradhan
Mantri Fasal Bima Yojna</span></u></b><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman","serif"'>:  Government of India has launched
Pradhan Mantri Fasal Bima Yojna to provide relief to the farmers inflicted with
the loss of crop damage. This is truly a farmer welfare scheme. Under this
scheme, the burden of premium will be reduced and their cases will be sorted
out expeditiously.  Apart from the losses inflicted by crop damage, the
provision has been made with this scheme to relieve the farmers from the losses
in harvesting aftermath scenario. This scheme provides assessment of local
calamities along with a list on unseasonal rain form, land slide and floods.
Under this scheme the farmers are supposed to pay 2% for Kharif and 1.5% for 
Rabi.. Rest of the premium will be deposited by the Government. The Government
has not prescribed any extent for subsidy. The remaining premium is 90% that
will be paid by the Government. Under this scheme, remote sensing, smart phone
and drone use is mandatory for the expeditious assessment of the crop damage. </span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><b><u><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>National
Agriculture Market (e-NAM): </span></u></b><span style='font-size:12.0pt;
line-height:115%;font-family:"Times New Roman","serif"'>National Agriculture
Market (e-NAM) is all India electronic trading portal which aims at to form a
unified national market for agricultural products by making a network for the
markets related to the existing Agricultural Product Marketing Committee (APMC).
The government made up its mind to develop a National Agriculture Market so as
to transport the agricultural product from one market to another in a smooth
way, to save the producers from a number of market duties and to provide
agricultural product to the consumers on a fair price. By September, 2016 eNAM
will cover more than 200 agricultural market and by March, 2018 such
methodology will be developed for 585 markets which will facilitate the
transportation of agricultural products to the market. At present the farmers
sell out their products through the Mandis or Bazar Committees which levy a
number of duties on their products. Now, there will be only one license for the
whole State and duty will be levied only on one point. Electronic auction will
be conducted to know about the prices. It will facilitate the way to convert
the whole state to one market. The farmers will obtain more alternative to sell
out their products. The transparency will be increased due to online platform
and farmers will get better return. </span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Agriculture
and Farmers Welfare Minister said that digital technology will facilitate us to
be linked with the others and to share our thoughts on different points.
Hon’ble Prime Minister, Mr. Modi treats digital technology to provide employment
to all the nationals and to change the national scenario. Mr. Modi desires to
impart the benefits of digital India on farmers for which a virtual platform is
being prepared as National Agriculture Market. Simultaneously a provision has
been made for soil testing laboratories nearby selected mandis in the vicinity
which will facilitate the farmers for soil testing. </span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><b><u><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>India
emergence campaign through village emergence:  </span></u></b><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Government
of India has launched a campaign named as India emergence through village emergence
so as to improve the means of livelihood amongst the rural, to accelerate rural
development process to strengthen Panchayati Raj across the country to
establish social equality to create awareness about the agricultural schemes. </span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><b><u><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>My
Village My Pride: </span></u></b><span style='font-size:12.0pt;line-height:
115%;font-family:"Times New Roman","serif"'>A new scheme has been initiated to
provide the methodology of scientific farming and a new technology to every
village. For this purpose, all the experts of Agriculture University and ICAR
Institutes spreads all over the country have been invited. Under this Scheme,
20,000 agriculture scientists have been engaged to adopt a village which is
also involved to pay awareness to adopt the ways of sophisticated scientific
farming and their implementation.  78 scientist of NRRI are in touch with
farmers after having selected almost 92 villages. They are providing multi
dimensional information and sophisticated benefits to the farmers within
prescribed time frame. </span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:.5in'><b><u><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>Achievements
of National Rice Research Institute, Cuttack:</span></u></b><span
style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman","serif"'>
Agriculture and Farmers Welfare Minister said that this premium institute has
celebrated its 70<sup>th</sup> foundation day on last 23<sup>rd</sup> April. On
23<sup>rd</sup> April, 1946 Central Rice Research Institute was set up. Minister
said that while keeping in view the achievements of CRRI it has been elevated
as National Rice Research Institute by imparting its status as National
Institute. This Institute has developed 114 rice species for different
agriculture climate condition. Agriculture and Farmers Welfare Minister thanked
all the scientists of NRRI, Cuttack who have developed a very important mobile
app named as “rice expert” through which farmers will get information about the
different pests inflicting loss to their paddy farmers, new trends, nimetode,
diseases related to paddy, different species of rice under different rice,
agricultural devices and different activities after harvesting on their fields.
</span></p>


</div>
</div>

</div>

<br>
<br>

{% endblock %}