<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Log In</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    
                        <p><strong></strong></p>
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_username">
                                Username:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_username" maxlength="30" name="username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_password">
                                Password:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_password" maxlength="30" name="password" type="password">
                            </div>
                        </div>
                         <!-- <script src='https://www.google.com/recaptcha/api.js'></script>
     					<div class="g-recaptcha" data-sitekey="6LetCz8UAAAAALU1-AKA10A3L5ipeJb3yhPKp6CH"></div> -->
                        <div class="form-group">
                            <p class="col-sm-offset-2">Have you <a href="">Forgot password</a>?</p>
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Don't have an account? <a href="">Click here</a> to register.
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>