{% extends 'base.html' %}
{% block body %}	


<div class="container">

  <td valign="top"><p align="center" class="Links"><strong><h3><center>Manures</center></h3></strong></p>
        <p align="justify" class="Links">          Manures are plant and animal wastes that are used as sources  of plant nutrients. They release nutrients after their decomposition. The art  of collecting and using wastes from animal, human and vegetable sources for  improving crop productivity is as old as agriculture. Manures are the organic  materials derived from animal, human and plant residues which contain plant  nutrients in complex organic forms. Naturally occurring or synthetic chemicals  containing plant nutrients are called fertilizers. Manures with low nutrient,  content per unit quantity have longer residual effect besides improving soil  physical properties compared to fertilizer with high nutrient content. Major  sources of manures are:</p>
        <ol class="Links">
          <li>
            <div align="left">Cattle shed wastes-dung, urine and slurry from  biogas plants</div>
          </li>
          <li>
            <div align="left">Human habitation wastes-night soil, human urine,  town refuse, sewage, sludge and sullage</div>
          </li>
          <li>
            <div align="left">Poultry Jitter, droppings of sheep and goat</div>
          </li>
          <li>
            <div align="left">Slaughterhouse wastes-bone meal, meat meal,  blood meal, horn and hoof meal, Fish wastes</div>
          </li>
          <li>
            <div align="left">Byproducts of agro industries-oil cakes, bagasse  and press mud, fruit and vegetable processing wastes etc</div>
          </li>
          <li>
            <div align="left">Crop wastes-sugarcane trash, stubbles and other  related material </div>
          </li>
          <li>
            <div align="left">Water hyacinth, weeds and tank silt, and</div>
          </li>
          <li>
            <div align="left">Green manure crops and green leaf manuring  material</div>
          </li>
        </ol>
        <p align="justify" class="Links">Manures can also be grouped, into  bulky organic manures and concentrated organic manures based on concentration  of the nutrients. </p>
        <p align="justify" class="Links"><strong>Bulky organic manures </strong></p>
        <p align="justify" class="Links">          Bulky organic manures contain small  percentage of nutrients and they are applied in large quantities. Farmyard  manure (FYM), compost and green-manure are the most important and widely used  bulky organic manures. Use of bulky organic manures has several advantages: </p>
        <ul>
          <li class="Links">They supply plant nutrients including micronutrients <br />
            </li>
          <li class="Links">They improve soil physical properties like structure,  water holding capacity etc., <br />
            </li>
          <li class="Links">They increase the availability of nutrients <br />
            </li>
          <li class="Links">Carbon dioxide released during decomposition acts as a  CO2 fertilizer and <br />
            </li>
          <li class="Links">Plant parasitic nematodes and fungi are controlled to  some extent by altering the balance of microorganisms in the soil.</li>
        </ul>
        <p align="justify" class="Links"><strong>Farmyard manure</strong></p>
        <p align="justify" class="Links">          Farmyard manure refers to the  decomposed mixture of dung and urine of farm animals along with litter and left  over material from roughages or fodder fed to the cattle. On an average well  decomposed farmyard manure contains 0.5 per cent N, 0.2 per cent P2O5and  .0.5 per cent K2O.The  present method of preparing farmyard manure by the farmers is defective. Urine,  which is wasted, contains one per cent nitrogen and 1.35 per cent potassium. Nitrogen  present in urine is mostly in the form of urea which is subjected to  volatilization losses. Even during storage, nutrients are lost due to leaching  and volatilization. However, it is practically impossible to avoid losses altogether,  but can be reduced by following improved method of preparation of farmyard  manure. Trenches of size 6 m to 7.5 m length, 1.5 m to 2.0 m width and 1.0 m  deep are dug. </p>
        <p align="justify" class="Links">All available litter and refuse is mixed with soil and spread in  the shed so as to absorb urine. The next morning, urine soaked refuse along  with dung is collected and placed in the trench. A section of the trench from  one end should be taken up for filling with daily collection. When the section  is filled up to a height of 45 cm to 60 cm above the ground level, the top of  the heap is made into a dome and plastered with cow dung earth slurry. The  process is continued and when the first trench is completely filled, second  trench is prepared. </p>
        <p align="justify" class="Links">          The manure becomes ready for use in about four to five  months after plastering. If urine is not collected in the bedding, it can be  collected along with washings of the cattle shed in a cemented pit from which  it is later added to the farmyard manure pit. Chemical preservatives can also  be used to reduce losses and enrich farmyard manure. The commonly used  chemicals are gypsum and superphosphate. Gypsum is spread in the cattle shed  which absorbs urine and prevents volatilization loss of urea present in the  urine and also adds calcium and sulphur. Superphosphate also acts similarly in  reducing losses and also increases phosphorus content.</p>
        <p align="justify" class="Links">Partially rotten farmyard manure has  to be applied three to four weeks before sowing while well rotten manure can be  applied immediately before sowing. Generally 10 to 20 t/ha is applied, but more  than 20 t/ha is applied to fodder grasses and vegetables. In such cases  farmyard manure should be applied at least 15 days in advance to avoid  immobilization of nitrogen. The existing practice of leaving manure in small  heaps scattered in the field for a very long period leads toloss of nutrients. These  losses can be reduced by spreading the manure and incorporating by ploughing  immediately after application.</p>
        <p align="justify" class="Links">          Vegetable crops like potato, tomato, sweet-potato, carrot,  raddish, onion etc., respond well to the farmyard manure. The other responsive  crops are sugarcane, rice, napier grass and orchard crops like oranges, banana,  mango and plantation crop like coconut. </p>
        <p align="justify" class="Links">          The entire amount of nutrients present in farmyard manure is  not available immediately. About 30 per cent of nitrogen, 60 to 70 per cent of phosphorus  and 70 per cent of potassium are available to the first crop.</p>
        <table width="50%" border="0" align="center" cellpadding="3" cellspacing="0">
          <tr>
      
          <tr>
            <td colspan="2" align="center" valign="middle"><strong>Farm yard manure</strong></td>
          </tr>
        </table>
        <p align="justify" class="Links"><strong>Sheep and Goat Manure</strong></p>
  <p align="justify" class="Links">          The droppings of sheep and goats contain higher nutrients  than farmyard manure and compost. On an average, the manure contains 3 per cent  N, 1 per cent P2O5 and 2 per cent K2O.It is applied to the field in two ways.  The sweeping of sheep or goat sheds are placed in pits for decomposition and it  is applied later to the field. The nutrients present in the urine are <em>wasted </em>in this method. The second method is sheep penning, wherein sheep and goats  are kept overnight in the field and urine and fecal matter added to the soil is  incorporated to a shallow depth by working blade harrow or cultivator or  cultivator.</p>
        <p align="justify" class="Links"><strong>Poultry Manure</strong></p>
        <p align="justify" class="Links">          The excreta of birds ferment very quickly. If left exposed,  50 percent of its  nitrogen is lost within 30 days. Poultry manure contains higher nitrogen and  phosphorus compared to other bulky organic manures. The average nutrient  content is 3.03 per cent N; 2.63 per cent P2O5 and 1.4  per cent K2O.</p>
        <p align="justify" class="Links"><strong>Concentrated organic manures</strong></p>
        <p align="justify" class="Links">          Concentrated organic manures have higher nutrient content  than bulky organic manure. The important concentrated organic manures are  oilcakes, blood meal, fish manure etc. These are also known as organic nitrogen  fertilizer. Before their organic nitrogen is used by the crops, it is converted  through bacterial action into readily usable ammoniacal nitrogen and nitrate  nitrogen. These organic fertilizers are, therefore, relatively slow acting, but  they supply available nitrogen for a longer period. </p>
        <p align="justify" class="Links"><strong>Oil cakes</strong></p>
        <p align="justify" class="Links">          After oil is extracted from oilseeds, the remaining solid  portion is dried as cake which can, be used as manure. The oil cakes are of two  types:</p>
        <ul>
          <li class="Links">          Edible oil cakes which can be safely fed to livestock; e.g.:  Groundnut cake, Coconut cake etc., and<br />
            </li>
          <li class="Links">Non edible oil cakes which are not fit for feeding  livestock; e.g.: Castor cake, Neem cake, Mahua cake etc.,</li>
        </ul>
        <p align="justify" class="Links">          Both edible and non-edible oil cakes can be used as manures.  However, edible oil cakes are fed to cattle and non-edible oil cakes are used  as manures especially for horticultural crops. Nutrients present in oil cakes,  after mineralization, are made available to crops 7 to 10 days after  application. Oilcakes need to be well powdered before application for even  distribution and quicker decomposition. </p>
        <table width="50%" border="0" align="center" cellpadding="3" cellspacing="0">
          
          <tr class="Links">
            <td align="center" valign="middle"><strong>Jatropha oil cakes</strong></td>
            <td align="center" valign="middle"><strong>Pongamia oil cakes</strong></td>
            <td align="center" valign="middle"><strong>Cotton seed oil cakes</strong></td>
          </tr>
        </table>
  <p class="Links">The average nutrient content of different oil-cakes is presented  in the following table.</p>
        <p class="Links"><strong>Average nutrient  content of oil cakes</strong></p>
        <div align="center" class="Links">
          <table border="1" cellspacing="0" cellpadding="0">
            <tr>
              <td width="262" rowspan="2" align="center" valign="middle" bgcolor="#fceed2"><strong>Oil-cakes</strong></td>
              <td width="202" colspan="3" align="center" valign="middle" bgcolor="#fceed2"><strong>Nutrient    content (%)</strong></td>
            </tr>
            <tr>
              <td width="67" align="center" valign="middle" bgcolor="#fceed2"><strong>N</strong></td>
              <td width="67" align="center" valign="middle" bgcolor="#fceed2"><strong>P2O5 </strong></td>
              <td width="67" align="center" valign="middle" bgcolor="#fceed2"><strong>K2O</strong></td>
            </tr>
            <tr>
              <td width="464" colspan="4" align="left" valign="middle" bgcolor="#f3fdde"><strong>Non    edible oil-cakes</strong></td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Castor cake </td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">4.3</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.8</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.3</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Cotton seed    cake (undecorticated) </td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">3.9</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.8</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.6</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Karanj cake </td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">3.9</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">0.9</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.2</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Mahua cake </td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">2.5</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">0.8</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.2</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Safflower    cake (undecorticated) </td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">4.9 </td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.4</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.2</td>
            </tr>
            <tr align="left">
              <td width="464" colspan="4" valign="middle" bgcolor="#f3fdde"><strong>Edible    oil-cakes</strong></td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Coconut cake</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">3.0</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.9</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.8</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Cotton seed    cake (decorticated)</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">6.4</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">2.9</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">2.2</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Groundnut    cake</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">7.3</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.5</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.3</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Linseed cake</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">4.9</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.4</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.3</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Niger cake</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">4.7</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.8</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.3</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Rape seed    cake</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">5.2</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.8</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.2</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Safflower cake    (decorticated)</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">7.9</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">2.2</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.9</td>
            </tr>
            <tr>
              <td width="262" align="left" valign="middle" bgcolor="#f3fdde">Sesamum cake</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">6.2</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">2.0</td>
              <td width="67" align="center" valign="middle" bgcolor="#f3fdde">1.2</td>
            </tr>
          </table>
        </div>
        <p align="justify" class="Links"><strong>Other Concentrated  Organic Manures</strong></p>
        <p align="justify" class="Links">          Blood meal when dried and powdered can be used as manure.  The meat of dead animals is dried and converted into meat meal which is a good  source of nitrogen.&nbsp; Average nutrient  content of animal based concentrated organic manures is given as follows.</p>
        <table width="90%" border="0" align="center" cellpadding="3" cellspacing="0">
          <tr valign="middle">
            <td colspan="4" align="center" class="Links"><strong>Animal based concentrated organic manures</strong></td>
          </tr>

          <tr valign="middle" class="Links">
            <td colspan="2" align="center"><strong>Horn and hoof meal</strong></td>
            <td align="center"><strong>Raw bone meal</strong></td>
            <td align="center"><strong>Crushed bone meal</strong></td>
          </tr>
        </table>
  <br />
        <p class="Links"><strong>Average nutrient content of animal based concentrated organic manures </strong></p>
        <div align="center">
          <table border="1" cellspacing="0" cellpadding="0">
            <tr>
              <td width="170" rowspan="2" align="center" valign="middle" bgcolor="#fceed2" class="Links"><strong>Organic    manures</strong></td>
              <td width="220" colspan="3" align="center" valign="middle" bgcolor="#fceed2" class="Links"><strong>Nutrient    content (%)</strong></td>
            </tr>
            <tr>
              <td width="70" align="center" valign="middle" bgcolor="#fceed2" class="Links"><strong>N</strong></td>
              <td width="70" align="center" valign="middle" bgcolor="#fceed2" class="Links"><strong>P2O5 </strong></td>
              <td width="80" align="center" valign="middle" bgcolor="#fceed2" class="Links"><strong>K2O</strong></td>
            </tr>
            <tr>
              <td width="170" align="left" valign="middle" bgcolor="#f3fdde" class="Links">Blood meal</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">10 - 12</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">1 - 2</td>
              <td width="80" align="left" valign="middle" bgcolor="#f3fdde" class="Links">1.0</td>
            </tr>
            <tr>
              <td width="170" align="left" valign="middle" bgcolor="#f3fdde" class="Links">Meat meal</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">10.5</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">2.5</td>
              <td width="80" align="left" valign="middle" bgcolor="#f3fdde" class="Links">0.5</td>
            </tr>
            <tr>
              <td width="170" align="left" valign="middle" bgcolor="#f3fdde" class="Links">Fish meal</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">4 - 10</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">3 - 9</td>
              <td width="80" align="left" valign="middle" bgcolor="#f3fdde" class="Links">0.3 - 1.5</td>
            </tr>
            <tr>
              <td width="170" align="left" valign="middle" bgcolor="#f3fdde" class="Links">Horn and Hoof meal</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">13</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">-</td>
              <td width="80" align="left" valign="middle" bgcolor="#f3fdde" class="Links">-</td>
            </tr>
            <tr>
              <td width="170" align="left" valign="middle" bgcolor="#f3fdde" class="Links">Raw bone meal</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">3 - 4</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">20 - 25</td>
              <td width="80" align="left" valign="middle" bgcolor="#f3fdde" class="Links">-</td>
            </tr>
            <tr>
              <td width="170" align="left" valign="middle" bgcolor="#f3fdde" class="Links">Steamed bone meal</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">1 - 2</td>
              <td width="70" align="left" valign="middle" bgcolor="#f3fdde" class="Links">25 - 30</td>
              <td width="80" align="left" valign="middle" bgcolor="#f3fdde" class="Links">-</td>
            </tr>


</div>
</table>
</div>
</tr>
</table>
</td></div>
<br>
<br>
{%endblock%}