{% extends 'base.html' %}
{% block body %}
<div class="container">

    <tr>
      <td></td>
    </tr>
    <tr>
      <td align="left" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="3" class="table-bordered">
          <tr>
            <td width="69%" align="center" valign="top"><table class="table-bordered" width="100%" border="0" align="left" cellpadding="3" cellspacing="0">
              <tr>
                <td width="2%" height="30" align="left" valign="middle"></td>
                <td width="98%" height="30" align="left" valign="middle"><strong><a href="#exp">Organic Exporters</a></strong></td>
                </tr>
              <tr>
                <td height="30" align="left" valign="middle"></td>
                <td height="30" align="left" valign="middle"><strong><a href="#imp">Organic Importers</a></strong></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <p align="left"><strong><a name="exp" id="exp"></a>Organic Exporters</strong></p>
        <div align="left">
          <table width="95%" border="1" align="center" cellpadding="0" cellspacing="0" class="table-bordered">
            <tbody>
              <tr>
                <td width="278" height="25" align="center" valign="middle" bgcolor="#cbd7eb"><strong>Name and Address of&nbsp; Exporter&nbsp;</strong></td>
                <td width="254" height="25" align="center" valign="middle" bgcolor="#cbd7eb"><strong>Name and Address of&nbsp; Exporter&nbsp;</strong></td>
                <td width="236" height="25" align="center" valign="middle" bgcolor="#cbd7eb"><strong>Name and Address of&nbsp; Exporter&nbsp;</strong></td>
                <td width="183" height="25" align="center" valign="middle" bgcolor="#cbd7eb"><strong>Name and Address of&nbsp; Exporter&nbsp;</strong></td>
              </tr>
              <tr>
                <td width="278" height="137" align="left" valign="middle"><p align="left">Balmer Lawrie &amp; Co. Ltd<br />
                  P-43, hide Road Extension,&nbsp;<br />
                  Kolkata - 700 088<br />
                  West Bengal</p>
                  <p align="left">033-24505550/ 54<br />
                    033-24392704<br />
                  <a href="mailto:bltea@cal3.vsnl.net.in">bltea@cal3.vsnl.net.in</a></p></td>
                <td width="254" align="left" valign="middle"><p align="left">BBTC Export Operations<br />
                  Post Box No. 573<br />
                  Subramanian Road<br />
                  Willingdon Island<br />
                  Cochin 682 003<br />
                  Kerala</p>
                  <p align="left">0484- 667539/666251/2<br />
                    0484- 668321<br />
                <a href="mailto:ecotea@vsnl.com">ecotea@vsnl.com</a></p></td>
                <td width="236" align="left" valign="middle"><p align="left">Chamong Tea<br />
                  Exports (P) Ltd,<br />
                  2, N.C. Dutta Sarani,&nbsp;<br />
                  Estate, 5th Floor, Unit-1<br />
                  Kolkata 700 001<br />
                  West Bengal</p>
                  <p align="left">33-22203742/2243 4979<br />
                    033 &ndash; 2243 7923<br />
                <a href="mailto:chamong@snonline.com">chamong@snonline.com</a></p></td>
                <td width="183" align="left" valign="middle"><p align="left">L.T.Overseas Ltd.<br />
                  A-21, Green Park, Aurobindo Marg<br />
                  New Delhi &ndash; 110 016</p>
                  <p align="left">Tel: 91-11-2685 9244, 26513450<br />
                    91-11-26859344/ 26513450<br />
                Email:&nbsp; ltoltd@del2.vsnl.net.in</p></td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Doon Heights Agro<br />
                  260, Phase I, Vasant Vihar,&nbsp;<br />
                  Dehradun &ndash; 248 006<br />
                  Uttranchal</p>
                  <p align="left">Tel: 91 135 2763620<br />
                    Fax:91 011 29216352<br />
                Email: ranjitlall@doonheightsagro.com, ranjit_lall@yahoo.com</p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb"><p>Godfrey Phillips India Limited<br />
                  3 Cooper Street, 1st Floor,Kalighat P.O.&nbsp;<br />
                  Kolkata-700 026<br />
                  West Bengal</p>
                  <p align="left">Tel:033-2486 0178/179<br />
                    033-2486 0177&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
                    Fax: 033-2486 0177<br />
                Email:&nbsp;<a href="mailto:akstea@vsnl.net">akstea@vsnl.net</a></p></td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Tata Tea Limited,<br />
                  Tata Tetley Division,<br />
                  Mr. K. M. Angelos<br />
                  73/ 74, K.P.K.Menon Road,&nbsp;<br />
                  Willingdon Island,<br />
                  Kochi-682003 Kerala</p>
                  <p align="left">Tel: 0484-2667427, 2668758,<br />
                    Mob: 09895712001<br />
                    484-2666808<br />
                Email:&nbsp;<a href="mailto:tetley@md2.vsnl.net.in">tetley@md2.vsnl.net.in</a></p></td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Parry Nutraceuticals Limited<br />
                  43, moore St.<br />
                  Parry House, 5th Floor<br />
                  Chennai &ndash; 600 001</p>
                  <p align="left">044-25036816<br />
                <a href="mailto:SebastianT@pai.murugappa.com">SebastianT@pai.murugappa.com</a></p></td>
              </tr>
              <tr>
                <td width="278" height="117" align="left" valign="middle"><p align="left">Parry Agro Industries Limited<br />
                  Iyerpadi Estate,<br />
                  Iyerpadi P.O. 642 108, Via Pollachi<br />
                  Coimbatore Dist. Tamil Nadu</p>
                  <p align="left">Tel: 91-4253-222489 / 564<br />
                    91-4253-222250<br />
                Email:&nbsp; muralipadikkal@pai.murugappa.com</p></td>
                <td width="254" align="left" valign="middle"><p align="left">The United Nilgiri Tea Estates Co. Ltd., (UNTE)<br />
                  Chamraj Estate P.O.643 204, Nilgiris,&nbsp;<br />
                  Tamil Nadu.</p>
                  <p align="left">Tel: 0423 225 8737<br />
                    0423 225 8837<br />
                Email:&nbsp;<a href="mailto:chamraj@vsnl.com">chamraj@vsnl.com</a></p></td>
                <td width="236" align="left" valign="middle"><p align="left">Weikfield Products Co.&nbsp;<br />
                  (India) Pvt. Ltd.,<br />
                  Weikfield Estate, Nagar Road,&nbsp;<br />
                  Pune- 411 014<br />
                  Maharashtra</p>
                  <p align="left">Tel: 020 26633111/2<br />
                    020 2663 3380<br />
                Email:&nbsp;<a href="mailto:weikfield@weikfield.com">weikfield@weikfield.com</a></p></td>
                <td width="183" align="left" valign="middle"><p align="left">Tea Group Exports<br />
                  20, Coal Berth, Hoboken Road,&nbsp;<br />
                  Kolkata 700042,<br />
                  West Bengal</p>
                  <p align="left">Tel: 033 24391966<br />
                Email:&nbsp;&nbsp;<a href="mailto:ambootia@vsnl.com">ambootia@vsnl.com</a></p></td>
              </tr>
              <tr>
                <td width="278" height="134" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Vimal Anand<br />
                  Apis (India) Natural Products<br />
                  18/32, East Patel Nagar,&nbsp;<br />
                  New Delhi &ndash; 110 008</p>
                  <p align="left">Tel: 011 25737038<br />
                    Email: vimal@apisindia.com,&nbsp;<br />
                  mail@apisindia.com</p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Ravinder Kumar<br />
                  Bhandora Organics<br />
                  29, Sant Nagar, II nd floor<br />
                  East of Kailash,&nbsp;<br />
                  New Delhi 65</p>
                  <p align="left">Tel: 011 26433934<br />
                    011 26433934<br />
                Email: info@bhandora.com</p></td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Col. Deepak Badhwar<br />
                  Clestia Impex Pvt. Ltd<br />
                  Flat 557, Tower III,&nbsp;<br />
                  Kailash Apartments,<br />
                  East of Kailash, New Delhi 110065</p>
                  <p align="left">Tel: 011 26483059, 0135 2742433/3958955<br />
                    011 262225293<br />
                Email:&nbsp;<a href="mailto:dbadhwar@rediffmail.com">dbadhwar@rediffmail.com</a></p></td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Jose Dominic<br />
                  Natural Harvest (India) Pvt. Ltd.<br />
                  XXIV/1350, Casino Hotel,&nbsp;<br />
                  Willindon Island<br />
                  P.O. Cochin 682 003<br />
                  Kerala</p>
                  <p align="left">Tel: 0484 2668221<br />
                    0484 2668001<br />
                Email:&nbsp;<a href="mailto:naturalharvest@gmail.com">naturalharvest@gmail.com</a></p></td>
              </tr>
              <tr>
                <td width="278" height="130" align="left" valign="middle"><p align="left">Mr. Jagajit Singh<br />
                  Little Bee Impex<br />
                  G.T. Road, Doraha, Punjab 141421<br />
                  Punjab</p>
                  <p align="left">Tel: 01628 258240/258640<br />
                    01628 259570/258140<br />
                  Email:&nbsp;<a href="mailto:Export1@kashmirhoney.com">export1@kashmirhoney.com</a></p></td>
                <td width="254" align="left" valign="middle"><p align="left">Mr. Ajay Kapoor<br />
                  S &amp; D Aroma (India) Pvt. Ltd.<br />
                  C 5/6 LGF Grand Vasat,<br />
                  Vasant Kunj, New Delhi 110070</p>
                <p align="left">Tel: 09818010101</p></td>
                <td width="236" align="left" valign="middle"><p align="left">Elk Hill Organic Project<br />
                  Post Box No. 12,&nbsp;<br />
                  Sidapur 571 253,&nbsp;<br />
                  Coorg<br />
                  Karnataka</p>
                  <p align="left">Tel: 08274 267756/50<br />
                    08274 258368<br />
                Email:&nbsp;<a href="mailto:fairland@sancharnet.in">fairland@sancharnet.in</a></p></td>
                <td width="183" align="left" valign="middle"><p align="left">Achal Industries<br />
                  190, Industrial Area,<br />
                  Baikampady,<br />
                  Mangalore 575 011<br />
                  Karnataka</p>
                  <p align="left">Tel:0824 240 8187<br />
                    0824 240 8487<br />
                Email:&nbsp;<a href="mailto:achalind@vasnet.co.in">achalind@vasnet.co.in</a></p></td>
              </tr>
              <tr>
                <td width="278" height="134" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Bush Tea Co., Pvt. Ltd<br />
                  18, A, Park Street,&nbsp;<br />
                  Stephen Court (6th floor),&nbsp;<br />
                  Kolkata<br />
                  West Bengal</p>
                  <p align="left">Tel: 033 22296705/06<br />
                  033 22496707</p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Golden Mist Plantations/Birhat Consultants (I) Pvt. Ltd.<br />
                  Golden Mist Plantations &amp; Resorts Pvt. Ltd.,&nbsp;<br />
                  Galibeedu Village,<br />
                  Mercara, Kodagu, 571 201<br />
                  Karnataka</p>
                  <p align="left">Tel: 08272 265 629<br />
                <a href="mailto:ludwigorganic@hotmail.com">ludwigorganic@hotmail.com</a></p></td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Harrisons Malayalam Limited<br />
                  Touramulla Organic Division,<br />
                  Chundale Estate,&nbsp;<br />
                  Touramulla P.O., Wayanad 673 592<br />
                  Kerala</p>
                  <p align="left">Tel: 04936 202688<br />
                <a href="mailto:chundale@eth.net">chundale@eth.net</a></p></td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Paras Desai<br />
                  Gujarat Tea Processors &amp; Packers Ltd.<br />
                  Waghbakri House,&nbsp;<br />
                  Opp. Parimal Garden Ambawadi,<br />
                  Ahmedabad 380 006<br />
                Gujarat</td>
              </tr>
              <tr>
                <td width="278" height="134" align="left" valign="middle"><p align="left">Kurinji Organic Foods (India) Pvt. Ltd.<br />
                  Periyakulam Road, Genguvarapatti,&nbsp;<br />
                  Theni Dist, 625 203<br />
                  Tamil Nadu</p>
                  <p align="left">Tel: 04543 262469/263 575<br />
                    04543 265 496<br />
                  Email:&nbsp;<a href="mailto:jakes@md3.vsnl.net.in">jakes@md3.vsnl.net.in</a></p></td>
                <td width="254" align="left" valign="middle"><p align="left">Muscatel Valley<br />
                  Muscatel Valley Division of Goomtee Tea Estate,<br />
                  P.O. Mahanadi 734 223,<br />
                  Darjeeling<br />
                  West Bengal</p>
                  <p align="left">Tel: 0354 233 8022<br />
                    0354 233 8011<br />
                <a href="mailto:slg_goomtee@sancharnet.in">slg_goomtee@sancharnet.in</a></p></td>
                <td width="236" align="left" valign="middle"><p align="left">Rani Tea Estate/ MKB Asia (P) Ltd<br />
                  P.O. Rani, Guwahati 781 017,&nbsp;<br />
                  Kamrup Dist<br />
                  Assam</p>
                  <p align="left">Tel: 0361 284 2059, 284 0074<br />
                0361 241 7085</p></td>
                <td width="183" align="left" valign="middle"><p align="left">Satnam Overseas Ltd;<br />
                  50-51, K.M. Stone,<br />
                  G. T. Road,<br />
                  Murthal &ndash; 131027,&nbsp;<br />
                  Sonepat<br />
                  Haryana</p>
                  <p align="left">Tel: 0130 2482043, 2482456<br />
                E-mail:&nbsp;<a href="mailto:satnamoverseas@vsnl.com">satnamoverseas@vsnl.com</a></p></td>
              </tr>
              <tr>
                <td width="278" height="113" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Tata Coffee Limited<br />
                  Pollibetta, South Kodagu, 571 215<br />
                  Karnataka</p>
                  <p align="left">Tel: 08274 251411/12/13/82/83<br />
                    08274 251425<br />
                  Email:&nbsp;<a href="mailto:hh@tatacoffee.com">hh@tatacoffee.com</a></p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Tata Tea Limited<br />
                  Milne Road, Willingon Island, Kochi 682 003<br />
                  Kerala</p>
                  <p align="left">Tel: 0484 2668356<br />
                    0484 2668076<br />
                Email:&nbsp;<a href="mailto:raveendran.ma@tatatea.co.in">raveendran.ma@tatatea.co.in</a></p></td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Thiashola Estate<br />
                  Thiashola Post, The Nilgiris, 643 230<br />
                  Tamil Nadu</p>
                  <p align="left">Tel: 0423 250 9897/2509244<br />
                Email:&nbsp;<a href="mailto:Thiasholaestate.Hll@unilever.com">Thiasholaestate.Hll@unilever.com</a></p></td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb">Sutlej Power Private Limited<br />
                  610 &ndash; 611, Prakash Deep Building,&nbsp;<br />
                  Tolstoy Marg,<br />
                  Connought Place,&nbsp;<br />
                  New Delhi 110 001<br />
                  <br />
                  Tel: 011 51520078/80, 3322560/63<br />
                  011 23322542<br />
                Email:&nbsp;<a href="mailto:sutlej_organics@yahoo.co.in">sutlej_organics@yahoo.co.in</a></td>
              </tr>
              <tr>
                <td width="278" height="114" align="left" valign="middle"><p align="left">Welbeck Tea Estate<br />
                  Lovedale SO, Udhagamandalam, 643 003<br />
                  Tamil Nadu</p>
                  <p align="left">Tel: 0422 2212659<br />
                    0422 2218628<br />
                  Email:&nbsp;<a href="mailto:welbecktea@sancharnet.in">welbecktea@sancharnet.in</a></p></td>
                <td width="254" align="left" valign="middle"><p align="left">Mr. K.B. Singh<br />
                  Amar Singh and Sons,<br />
                  51 - Industrial Estate,&nbsp;<br />
                  Phase - 1, Gangyal,&nbsp;<br />
                  Jammu Tawi - 180010&nbsp;&nbsp;<br />
                  Jammu&nbsp; &amp; Kashmir</p>
                  <p align="left">Tel: 0191-2480606, 2480350, 2480975<br />
                Fax: 0191-2480568, 2480473</p></td>
                <td width="236" align="left" valign="middle">Mr. Karan Singh Jamwal<br />
                  Kittu Exports<br />
                  Kotla Mubarkpur&nbsp; 110003,&nbsp;<br />
                  No-1 1st Floor&nbsp;<br />
                  Sewa Nagar Mkt.<br />
                New Delhi</td>
                <td width="183" align="left" valign="middle"><p align="left">Sonarie Tea Estae &amp; MRB Enterprises<br />
                  Jonak Division, P.O. Sonarie,&nbsp;<br />
                  Shivasagar &ndash; 785 690<br />
                  Assam</p>
                  <p align="left">Tel: 03772 256578<br />
                0361 220 2746</p></td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Dilip Singh Rathore<br />
                  Rathore Organic Farming<br />
                  Village Post - Bhilgaon<br />
                  Tehsil &ndash; Kasrawad,<br />
                Dist. Khargone, M. P.</p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb">Mr Mahesh H. Thakker&nbsp;<br />
                  Mahesh Agri Exim Pvt. Ltd.<br />
                  312, Sharda Chamber No. 1,<br />
                  3rd Floor, 31, Keshavi Naik&nbsp;<br />
                  Road, Bhat Bazar,&nbsp;<br />
                Mumbai &ndash; 400 009</td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb">Mr Rohit Doshi<br />
                  Sankalp Bio Cotton project,<br />
                  202, kuber house,<br />
                  162, Anchan bag,<br />
                  Indore: 452001<br />
                  Contact person :<br />
                Mr Rohit Doshi</td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb">Mr Rohit Doshi<br />
                  Swayam Bio Cotton Project<br />
                  202, Kuber House, 162,&nbsp;<br />
                  Kancahan Bag,&nbsp;<br />
                Indore 452 001</td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle"><p align="left">Mr. Mayank S. Patel<br />
                  Urvesh Psyllium Industries Ltd.,<br />
                  State High Way,<br />
                  Nr. Khali Char Rasta,<br />
                Khali, Sidhpur-384151</p></td>
                <td width="254" align="left" valign="middle"><p align="left">Mr. B.D. Agarwal<br />
                  Vikas Wsp Ltd. (Adm. Office),&nbsp;<br />
                  B-86-87 Udyog Vihar,&nbsp;<br />
                  RIICO Industial Area,&nbsp;<br />
                  Sri Ganganagar-334002 (Rajasthan)</p>
                  <p align="left">Tel: 91 154 2494512/52<br />
                fax: 91 154 2494361</p></td>
                <td width="236" align="left" valign="middle">Mr. Cherian Xavier<br />
                  Accelerated Freeze Drying Co. Ltd<br />
                  Amalgam House, Bristow Road<br />
                  Willingdon Island&nbsp;<br />
                Cochin &ndash; 682003, Kerala</td>
                <td width="183" align="left" valign="middle"><p align="left">Mr. Ajay Katayal<br />
                  Sunstar - Organic Food Division,<br />
                  40 km. Stone,&nbsp;<br />
                  G.T. Karnal Road,<br />
                  Bahalgarh-Sonepat,<br />
                  Haryana</p>
                  <p align="left">Tel: 0130-2381155, 2381925, 2381926<br />
                Fax: 0130-2381055</p></td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Ajanta Industries<br />
                  Plot D, Sur. No. 166/1,&nbsp;<br />
                  Apewal Ponda,&nbsp;<br />
                Goa-403401</p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb">Mr.Siddharth .S.P.Zantye<br />
                  Amruta Cashew Industries&nbsp;<br />
                  Nathpai Road,<br />
                  Vengurla, Sindhudrg Dist<br />
                Maharashtra</td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Atul Kumar&nbsp;<br />
                  Artousi Enterprises<br />
                  B-26, FreedomFighters Enclave,&nbsp;<br />
                  Neb Sarai, New Delhi-110 068</p>
                  <p align="left">Tel 011-26566611<br />
                    Fax: 011-26530789<br />
                E-mail :artousi@rediffmail.com</p></td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Sanjay Udashi<br />
                  Shree Sanjay Trading Company<br />
                  A/7, Majithia Appartments,&nbsp;<br />
                  S.V. Road,<br />
                IRLA, Vile Parle (West) Mumbai</td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle"><p align="left">Mr. Saurab Garg<br />
                  Aryan International<br />
                  D &ndash; 184, Freedom Fighters Enclave<br />
                  Neb Sarai, New Delhi &ndash; 110068&nbsp;<br />
                  <br />
                </p></td>
                <td width="254" align="left" valign="middle">Mr. Amir&nbsp; Ahasan<br />
                  Assam Company Ltd.<br />
                  Post Salonah,&nbsp;<br />
                Nagaon District, Assam</td>
                <td width="236" align="left" valign="middle">Mr. Laxman Prabhu<br />
                  Damodar Cashew Company<br />
                  Kotachery,&nbsp;<br />
                  Kanhangad &ndash; 671 315&nbsp;<br />
                Kerala</td>
                <td width="183" align="left" valign="middle">Mr. Dharmesh Patel<br />
                  Geo Fresh Organic<br />
                  Gulab Park, S.T.Road,&nbsp;<br />
                  Sidhpur-384151,&nbsp;<br />
                Gujarat</td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Samir Changoiwala<br />
                  Gopaldhara International<br />
                  17, Ganesh Chandra Avenue,&nbsp;<br />
                  Kolkata-700013,<br />
                West Bengal</p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Kishore Bheda<br />
                  H.Bheda &amp;Co.<br />
                  202 kapadia Apartments&nbsp;<br />
                  39,S.V. Road, Vile Parle (W)<br />
                Mumbai &ndash; 400056</td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Umesh N. P. Zantye<br />
                  Hira Cashew Industres&nbsp;<br />
                  Vithalapur,Sanquelim<br />
                Goa State</td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Jai Chaitanya Dasa<br />
                  Eco Agri Research Foundation<br />
                  142, 4th Main Road, 4th Cross,<br />
                  Bannimantap &lsquo;C&rsquo; Layout&nbsp;<br />
                Mysore, Karnataka State</td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle"><p align="left">Mr. Udaya Kumar<br />
                  Hope Spice Project&nbsp;&nbsp;<br />
                  No 51 Murugan lodge,<br />
                  Ettines Road,&nbsp;<br />
                Ooty&nbsp; 643002, Tamil Nadu</p></td>
                <td width="254" align="left" valign="middle">IITC Organic India Pvt. Ltd.<br />
                  Village Kamta,&nbsp;<br />
                  Post Chinhat,&nbsp;<br />
                Faizabad Road</td>
                <td width="236" align="left" valign="middle">Mr. Jayaprakash Narakkat<br />
                  Indway International<br />
                  Asia Fruits, 14 Skandha,<br />
                  Pestom Sagar&nbsp; Road 2,<br />
                Mumbai</td>
                <td width="183" align="left" valign="middle">Mr. Danesh Madon<br />
                  Eaternal Health &amp; Organic Foods Pvt. Ltd.<br />
                  B/2, Rustom Baug, S. S. Marg,<br />
                Byculla, Mumbai-400 027</td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Srinivasa M. Rao<br />
                  ITC Ltd &ndash; International Business Division<br />
                  31, Sarojini Devi Road&nbsp;<br />
                  Secunderabad &ndash; 500003<br />
                Andhra Pradesh</p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Jyotindra<br />
                  Jyotindra International<br />
                  4 Km, Palanpur&nbsp;<br />
                  Ahmedabad Highway<br />
                Palanpur 385 001</td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Sandhir Agarwal<br />
                  Kamala Tea Company Ltd<br />
                  240/B, 3rd Floor,&nbsp;<br />
                  A. J. C. Bose Road,&nbsp;<br />
                Kolkata &ndash; 700 020</td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Mohan Lal Agarwal<br />
                  Kanchanjunga Herbal Medi Aids Pvt. Ltd.<br />
                  669, Marshal House,&nbsp;<br />
                  33/1, Netaji Subhas Road<br />
                  Kolkata-700 001,&nbsp;<br />
                West Bengal</td>
              </tr>
              <tr>
                <td width="278" height="128" align="left" valign="middle"><p align="left">Mr. P. K. Panigrahy<br />
                  Kasam<br />
                  Kandhamal Apex Spices<br />
                  Contractorpada,&nbsp;<br />
                  Gurumurthy road&nbsp;<br />
                  Phulbani, Orissa &ndash; 762 001</p>
                <p align="left">Tel: 06842- 253022, 253531, 253380</p></td>
                <td width="254" align="left" valign="middle">Mr. Raja Singh Kapoor&nbsp;&nbsp;<br />
                  Kashmir Apiaries&nbsp;<br />
                  Village: Mallipur, G.T.Road<br />
                  Doraha-1410421,&nbsp;<br />
                Dist: Ludhiana, Punjab</td>
                <td width="236" align="left" valign="middle"><p align="left">Mr. Sameer Azad<br />
                  Kashmir Kessar Mart<br />
                  P.O. Box No. 216,&nbsp;<br />
                  Munwarabad, Srinagar<br />
                  Jammu &amp; kashmir</p>
                  <p align="left">Tel 0194-2470846, 2470932<br />
                    Fax 0194-2473169<br />
                <a href="mailto:kkmartsqr@hotmail.com">kkmartsqr@hotmail.com</a></p></td>
                <td width="183" align="left" valign="middle">Mr. Vikas&nbsp; Bhat<br />
                  Khandige Herbs &amp; Plantations Pvt. Ltd&nbsp;<br />
                  No. 46/1, Jaraganahalli,<br />
                  Kanakapura Main Road<br />
                Bangalore - 560 045&nbsp;</td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Anil Kr. Mittal<br />
                  KRBL Limited<br />
                  A1, Pamposh Enclave<br />
                New Delhi-110 048</p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb">Mr. G. Krishnan Nair<br />
                  Krishnan Food Processors<br />
                  P. B. No. 344,&nbsp;<br />
                  Iyshwaria Beach Road,&nbsp;<br />
                Kollam-691 001, Kerala</td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Swaraj Kumar Banerjee&nbsp;<br />
                  Makaibari Tea Estates<br />
                  Kurseong, Darjeeling District<br />
                West Bengal-734 203</td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Sudheer Mudar<br />
                  Mudar India Exports<br />
                  6 &ndash; 426 &ndash; C2, Kovoor Nagar,<br />
                Anantapur. Andhra Pradesh</td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle"><p align="left">Suresh N. P. Zantye<br />
                  N.G.P.Zantye &amp; Co<br />
                Bicholim . Goa - 403 504</p></td>
                <td width="254" align="left" valign="middle">Mr Uday Singh&nbsp;<br />
                  Namdhari Fresh&nbsp;<br />
                  Bidadi &ndash; 562 109,<br />
                  Bangalore,&nbsp;<br />
                Karnataka</td>
                <td width="236" align="left" valign="middle">Fr. Augustine Kariapuram<br />
                  Peermade Development society<br />
                  P. O. Box 11, Peermade<br />
                  Idukki 685 531<br />
                Kerala</td>
                <td width="183" align="left" valign="middle">Ms. Shobha N. Shastry<br />
                  Phalada Agro Research Foundations Pvt Ltd<br />
                  No. 266, 7th Cross, 9th Main,<br />
                  Ideal Homes Township,<br />
                Bangalore - 560 098</td>
              </tr>
              <tr>
                <td width="278" height="165" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Thomas Jacob<br />
                  Poabs Exports<br />
                  Poabs Organic Products Pvt. Ltd.<br />
                  Seethargundu PO<br />
                  Nelliyampathy Palghat, Kerala<br />
                  India &ndash; 678511</p>
                  <p align="left">Tel: 0492 &ndash; 346554, 346333, 346223<br />
                    Telfax: - (0492) 346555<br />
                  E &ndash;mail:&nbsp;&nbsp;<a href="mailto:mail@poabsorganic.com">mail@poabsorganic.com</a></p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Mohan Chirimar<br />
                  Raghunath Exporters<br />
                  5F, Park Plaza, 71, Park<br />
                  Street, Calcutta &ndash; 700 016</p>
                <p align="left">Tel: 033 &ndash; 22290092 / 22294495</p></td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb">Mr. Sayeed A. Patel<br />
                  Rajena Agro Products Pvt. Ltd&nbsp;<br />
                  Sedrana, Sidhpur,<br />
                  Patan-384 151&nbsp;<br />
                North Gujarat</td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb">Mr. A. Somasundaram<br />
                  SNV Horticultural Farms<br />
                  Savadippatti Village,&nbsp;<br />
                  Alagapuri &ndash; 625 523,&nbsp;<br />
                Theni District, Tamil Nadu</td>
              </tr>
              <tr>
                <td width="278" height="162" align="left" valign="middle"><p align="left">Mr. Rajashekar Reddy Seelam<br />
                  Managing&nbsp; Director<br />
                  Sresta Natural Bio Products Pvt. Ltd<br />
                  Sresta House Plot # 7, LIC Colony,&nbsp;<br />
                  Sikh Village, Secunderabad &ndash; 500 009</p>
                  <p align="left">Tel: +91 40 27893028, Fax: + 91 40 27893029<br />
                    Mobile: +91 0&nbsp; 9392493631<br />
                    E-mail:&nbsp;<a href="mailto:rajseelam@sresta.com">rajseelam@sresta.com</a><br />
                  <a href="http://www.sresta.com/">www.sresta.com</a>&nbsp;&nbsp;&nbsp;</p></td>
                <td width="254" align="left" valign="middle"><p align="left">Mr. Murali B. N<br />
                  Sri Mata Bio Source<br />
                  No. 9/5, 16th Cross,&nbsp;<br />
                  Indian Bank Colony,&nbsp;<br />
                  Raja Rajeshwari Nagar,<br />
                  Bangalore &ndash; 560 098</p>
                  <p align="left">Tel: 0091-80-26606259,&nbsp;<br />
                Fax: 26697992</p></td>
                <td width="236" align="left" valign="middle">Mr. Sameer Mehra,&nbsp;<br />
                  Suminter India Organics<br />
                  308, Oberoy chambers,-1,<br />
                  New Ring&nbsp;&nbsp;<br />
                Andheri Mumbai</td>
                <td width="183" align="left" valign="middle">Mr. Binod Mohan<br />
                  Tea Promoters (India) Pvt. Ltd<br />
                  17, Chowringhee Mansions<br />
                  30, Jawaharlal Nehru Road<br />
                Kolkotta &ndash; 700016</td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Nirmal Mehta<br />
                  Veetee Fine Foods Ltd.<br />
                  Veetee House,&nbsp;<br />
                  56-57 KM, G.T. Karnal Road,&nbsp;<br />
                  Larsauli District&nbsp;<br />
                Sonepat - 131 001</p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb">Mr. N. Viswanathan<br />
                  Vishwas Organic Technologies<br />
                  &ldquo;Lahari&rdquo;, No. 83,&nbsp;<br />
                  14th Main, 4th Sector,&nbsp;<br />
                  HSR Layout&nbsp;<br />
                Bangalore-560 034</td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb">Fr. Kuriakose Kunnath<br />
                  Wayanad Social Service Society&nbsp;<br />
                  Post Box No. 16, Mananthavady,&nbsp;<br />
                Wayanad-670 645, Kerala</td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Mr. Mukesh&nbsp; Malhotra<br />
                  Weikfield Products Company Pvt. Ltd.<br />
                  Weikfield Estate,&nbsp;<br />
                  Nagar Road,<br />
                  Pune-411 014, Maharashtra</p>
                  <p align="left">Tel: 020 &ndash; 26633111/12<br />
                    Fax: 020 &ndash; 26633380<br />
                E-mail:&nbsp;<a href="mailto:weikefield@weikfield.com">weikefield@weikfield.com</a></p></td>
              </tr>
              <tr>
                <td width="278" height="113" align="left" valign="middle"><p align="left">Mr. Joji<br />
                  Farmer Industries&nbsp;<br />
                  (Renamed as Golden Vintage Farmers Industry)<br />
                  Khanna Nagar P.O,<br />
                  Muringoor, Chalakudy<br />
                  Trissur, Kerala &ndash; 680309</p>
                  <p align="left">Ph:0480-2709618,2709718<br />
                    Email:<a href="mailto:sales@farmerindia.com">sales@farmerindia.com</a>mm@farmerindia.com,<br />
                <a href="mailto:ceo@farmerindia.com">ceo@farmerindia.com</a></p></td>
                <td width="254" align="left" valign="middle">Mr. Suresh N. P. Zantye<br />
                  Zantye Cashew Industries<br />
                  Dhuriwada, Malvan,<br />
                  Sindhudurg District,<br />
                Maharashtra</td>
                <td width="236" align="left" valign="middle"><p align="left">Mr. Tomy Mathew<br />
                  Elements Homestead Products <br />
                  Private Limited<br />
                  4/1418-B Customs Road,&nbsp;<br />
                  Calicut, Kerala 673032</p>
                  <p align="left">Ph: 95 495-2765783 (O), 2368153 (R)<br />
                    Email: elements@dataone.in,&nbsp;<a href="mailto:tomy@elementsindia.net"><br />
                tomy@elementsindia.net</a></p></td>
                <td width="183" align="left" valign="middle"><p align="left">Mr. Bijumon Kurian<br />
                  Manarcadu Social service Society<br />
                  Mini Industrial Estate<br />
                  Manarcade P.O<br />
                  Kottayam, Kerala</p>
                  <p align="left">Ph:0481-6532878, 9447066757/2<br />
                    masss@sify.com,&nbsp;<a href="mailto:plantrich@plantrich.com"><br />
                plantrich@plantrich.com</a></p></td>
              </tr>
              <tr>
                <td width="278" align="left" valign="middle" bgcolor="#cbd7eb"><p align="left">Organic Farms,&nbsp;<br />
                  Near Jain Temple, Sawkarpura,&nbsp;<br />
                  At Post. Anjangaon SurjiDist.&nbsp;<br />
                  Amravati &ndash; 444 705, Maharashtra State<br />
                  Contact person : Mr. Deepak Shinde<br />
                TEL: +91 7224 242707</p></td>
                <td width="254" align="left" valign="middle" bgcolor="#cbd7eb">Phaladaayi Foundation<br />
                  Shobha N. Shastry<br />
                  No. 266, 7th Cross, 9th Main, Ideal Homes Township,&nbsp;<br />
                  Bangalore - 560 098<br />
                  Contact person :<br />
                Mr . Ramesh L.Harve</td>
                <td width="236" align="left" valign="middle" bgcolor="#cbd7eb">Sardar Patel Farm<br />
                  Dr. Dinesh Patel<br />
                Naroda Kathwada Road, Kathwada, T. Daskoi, Ahmedabad.</td>
                <td width="183" align="left" valign="middle" bgcolor="#cbd7eb"><p>Ind Frag<br />
                  Mr. K. K. Sreeram<br />
                  S. No.102/3,12th K. M. Hosur- Kelamangalam&nbsp;<br />
                  Road, Kundumaranapalli, Tamilnadu&nbsp; 635113</p>
                  <p>Made by India F-38, Sector-8,<br />
                Noida 201301 (U.P.)</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <hr size = "1" noshade="noshade" color="488ce0" />
        <p align="left"><strong><a name="imp" id="imp"></a>Organic Importers</strong></p>
        <div align="left">
          <table width="95%" border="1" align="center" cellpadding="0" cellspacing="0" class="table-bordered">
            <tbody>
              <tr>
                <td height="25" align="center" valign="middle" bgcolor="#CBD7EB"><strong>Name and Address of&nbsp;Importers</strong></td>
                <td height="25" align="center" valign="middle" bgcolor="#CBD7EB"><strong>Name and Address of&nbsp;Importers</strong></td>
                <td height="25" align="center" valign="middle" bgcolor="#CBD7EB"><strong>Name and Address of&nbsp;Importers</strong></td>
                <td height="25" align="center" valign="middle" bgcolor="#CBD7EB"><strong>Name and Address of&nbsp;Importers</strong></td>
              </tr>
              <tr>
                <td width="235" align="left" valign="middle"><p>Alterbio France Sarl<br />
                  5 Rue Levasseur,Zi&nbsp;<br />
                  Saint Charles,&nbsp;<br />
                  66000 Perpignan,<br />
                  France<br />
                  Tel: +33(0) 4 6868 3838<br />
                  Fax: +33(0)4 6868 3829<br />
                  Email: Info@Alterbio.Com<br />
                Internet: www.Alterbio.Com</p></td>
                <td width="246" align="left" valign="middle"><p>Heuschrecke Naturkost Gmbh<br />
                  Redcastr, 50a<br />
                  53842,Troisdorf-Spich<br />
                  Germany<br />
                  Tel: +49(0) 2241-39726-0<br />
                  Fax: +49(0)2241-39726-99<br />
                E-Mail: Bio@Heuschrecke.</p></td>
                <td width="246" align="left" valign="middle">Arcadie<br />
                  5 Rue Levasseur,<br />
                  Zi Saint Charles<br />
                  66000 Perpignan,&nbsp;<br />
                  France<br />
                  Tel: + 33(0)4 6656 9933<br />
                  Fax: +33(0) 4 6630 6261<br />
                  Email: Info@Arcadie-Sa.Fr<br />
                Internet: www.Arcadie-Sa.Fr</td>
                <td width="246" align="left" valign="middle">Uni-Vert<br />
                  Route De Bellegarde<br />
                  30129, Manduel, France<br />
                  Tel: +33(0) 4 6620 7525<br />
                  Fax: +33(0) 4 6620 7526<br />
                  E.Mail: Uni-Vert@Uni-Vert.Com<br />
                Internet: www.Uni-Vert.Com</td>
              </tr>
              <tr>
                <td width="235" align="left" valign="middle" bgcolor="#CBD7EB"><p>Bioprim<br />
                  Address:530 Av De Milan,Zi Du&nbsp;<br />
                  Grand Saint Charles<br />
                  66000 Perpignan&nbsp;<br />
                  France<br />
                  Tel: +33(0) 4 6854 7979<br />
                  Fax: +33(0) 4 6758 5970<br />
                E-Mail: Contact@Bioprim.Com</p></td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB"><p>Germany<br />
                  Agasaat Gmbh<br />
                  Gewerbegebiet Sued,<br />
                  Pascalstr.11.<br />
                  D-47506,Neukirchen-<br />
                  Vluyn,Germany<br />
                  Tele: +49 (0) 28459146-0<br />
                  Fax: +49(0) 28457573<br />
                Internet: www.Agasaat.De</p></td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB">Dynamis France&nbsp;<br />
                  54 Avenue De La&nbsp;<br />
                  Vilette,94637 Rungis<br />
                  Cedex France<br />
                  Tel: +33 (0) 1 4560 4344<br />
                  Fax: +33(0) 1 4687 4405<br />
                E-Mail: Dynamis@Wabdii,Fr</td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB">Denree Versirgungs Gmbh&nbsp;<br />
                  Hofer Str 11<br />
                  D-95183 Topen,Germany<br />
                  Tel: +49(0) 9295 180<br />
                  Fax: +49(0)9295 1850<br />
                E-Mail: Webernk@T-Online.De</td>
              </tr>
              <tr>
                <td width="235" align="left" valign="middle"><p>Exodom<br />
                  P O Box 7025<br />
                  69348,Lyon Cedex 07<br />
                  France<br />
                  Tel: +33(0) 4 3728 7350<br />
                  Fax: +33(0) 4 3728 7354<br />
                  E-Mail: Exo-Dom@Wanadoo.Fr<br />
                Internet: www.Exodom.Com</p></td>
                <td width="246" align="left" valign="middle"><p>Ernst Weber Naturkost<br />
                  Postfach 750954<br />
                  D-81339 Munchen<br />
                  Germany<br />
                  Tel: +49(0) 89 746 3420<br />
                  Fax: +49(0) 89 746 342222<br />
                E-Mail: Webernk@T-Online.De</p></td>
                <td width="246" align="left" valign="middle">Image Tutti Verde<br />
                  Marche Saint Charles<br />
                  P O Box 5129,66031<br />
                  Perpignan France<br />
                  Tel: + 33(0) 4 6868 4040<br />
                  Fax: +33(0) 4 4868 4048<br />
                E-Mail: Imago1@Wanadoo.Fr</td>
                <td width="246" align="left" valign="middle">Gepa Fair Handelshaus<br />
                  Gewerbepark Wagner<br />
                  Bruch 4&nbsp;<br />
                  42279 Wuppertal&nbsp;<br />
                  Germany<br />
                  Tel: +49 (0) 202 266 830<br />
                  Fax: +49(0) 202 266 8310<br />
                  E-Mail: Marketing@Gepa.Org<br />
                Internet: www.Gepa3.De</td>
              </tr>
              <tr>
                <td width="235" align="left" valign="middle" bgcolor="#CBD7EB"><p>Naturkost Schramm<br />
                  Ludwig-Winter-<br />
                  Strasse 6&nbsp;<br />
                  D-77767 Appenweier<br />
                  Germany<br />
                  Tel: + 49 (0) 7805 98880<br />
                  Fax: + 49(0) 7805 966880<br />
                  E-Mail: Team@Naturkost-Schramm.De<br />
                Internet: www.Naturkost-Schramm.De</p></td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB"><p>El-Ouente Gmbh<br />
                  Hildesheimestr,59<br />
                  D-31177, Harsum<br />
                  Germany<br />
                  Tele: +49(0) 5127-98860-0<br />
                  Fax: +49(0) 5127-9886028<br />
                  E-Mail: Info@El-Puente.De<br />
                Internet: www.El-Puente.De</p></td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB">Voelkel Gmbh<br />
                  Fahrstr.1<br />
                  29478,Hohbeck/Ot<br />
                  Pevestorf<br />
                  Germany<br />
                  Tel: +49 (0) 5846 9 50-0<br />
                  Fax : +49(0) 5846 9 50 50<br />
                  E-Mail: Marketing @Voelkeljuice.De<br />
                Internet:www.Voelkeljuice.De</td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB">Ctm Altromercato<br />
                  Via Macello,18<br />
                  39100 Bolzano&nbsp;<br />
                  Italy<br />
                  Tel: +39 (0) 471 975 333<br />
                  Fax: +39(0)471 977 599<br />
                  E-Mail: Info@Altromercato.It<br />
                Internet:www.Altromercato.It</td>
              </tr>
              <tr>
                <td width="235" align="left" valign="middle"><p>The Nertherlands<br />
                  Platinastraat 50<br />
                  8211 Ar Lelystad,<br />
                  The Netherlands<br />
                  Tele: +31(0) 320 282 928<br />
                  Fax: +31(0) 320 282 028<br />
                E-Mail: Info@ Detraay.Com</p></td>
                <td width="246" align="left" valign="middle"><p>Loders Croklaan<br />
                  P.O. Box 4,<br />
                  1520 Aa Wormerveer<br />
                  The Netherlands<br />
                  Telephone: +31 (0) 75 629 2911&nbsp;<br />
                  Fax: +31 (0) 75 628 9455<br />
                  E-Mail: Fats.Lc@Croklaan.Com<br />
                Internet: www.Croklaan.Com</p></td>
                <td width="246" align="left" valign="middle">Neuteboom B.V.<br />
                  Aadijk 41,<br />
                  7202pp Almelo<br />
                  The Netherlands<br />
                  Telephone : +31 (0) 546 864 062<br />
                  Fax: +31 (0) 546 866 369<br />
                  E-Mail: Info@Neuteboom.Nl<br />
                Internet www.Neuteboom.Nl</td>
                <td width="246" align="left" valign="middle">Rhumveld Winter &amp; Konijn Bv<br />
                  P.O. Box 29216,<br />
                  30001 Ge Rotterdam<br />
                  The Netherlands<br />
                  Telephone: +31 (0) 10 233 0900<br />
                  Fax: +31 (0) 10 233 0574<br />
                  E-Mail: Rwk@Rhumveld.Com<br />
                Internet: www.Rhumveld.Com</td>
              </tr>
              <tr>
                <td width="235" align="left" valign="middle" bgcolor="#CBD7EB"><p>Simon Levelt B.V.<br />
                  A.Hofmanweg 3,<br />
                  2031 Bh Haarlem<br />
                  Telephone: +31 (0) 23 512 2522<br />
                  Fax: +31 (0) 23 512 2505<br />
                  E-Mail Info@Simonlevelt.Com<br />
                Internet: www.Simonlevelt.Nl</p></td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB"><p>Spack Bv<br />
                  Telephone: +31 (0) 181 48 6486<br />
                  Fax: +31 (0) 181 48 6857<br />
                E-Mail: Spack @Xs4all.Nl</p></td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB">Tradin Bv<br />
                  Latexweg 12,<br />
                  1047 Bj Amsterdam<br />
                  Telephone: +31 (0) 20 407 4499<br />
                  Fax: +31 (0) 20 497 2100<br />
                  E-Mail: Info@Tradinorganic.Com<br />
                Internet: www.Tradinorganic.Com</td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB">Programme Manager<br />
                  CBI, Organic Food Ingredients<br />
                  3011 AA Rotterdam<br />
                  Beursplain 37<br />
                The Netherlands</td>
              </tr>
              <tr>
                <td width="235" align="left" valign="middle"><p>Mr. Anil Puri<br />
                  A.M Stubacher Berg-10<br />
                  D-91468 Gutenstetten<br />
                  Germany<br />
                Fax No.: 0421-2475394</p></td>
                <td width="246" align="left" valign="middle"><p>Jurg Tumbrunnmen<br />
                  Surgo Ag, Basel, CH<br />
                Tel : + 4161 317 3253</p></td>
                <td width="246" align="left" valign="middle">Mr. Anil Puri<br />
                  A.M Stubacher Berg-10<br />
                  D-91468 Gutenstetten<br />
                  Germany<br />
                Fax No.: 0421-2475394</td>
                <td width="246" align="left" valign="middle">Ian Taylor<br />
                  Fuerst Day Lawson Ltd<br />
                  St Clare House 30-33 Minories<br />
                  London EC3N 1 LN<br />
                  Tel: +44171 4880777<br />
                Fax:+44171 702 1500</td>
              </tr>
              <tr>
                <td width="235" align="left" valign="middle" bgcolor="#CBD7EB"><p>Dr Metz KG<br />
                  Siemenstr. 7 65779 Kelkheim<br />
                  Tel: 06195 3071/3072<br />
                Fax: 06195 8729</p></td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB"><p>WalterDanzer<br />
                  Turmstr.6<br />
                  8952 Schlieren<br />
                  Tel: 01 731 1200<br />
                Fax: 01 731 1275</p></td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB">Galke Hartmut<br />
                  Am Bahnhof 1-5<br />
                  D- 37534 Gittelde<br />
                  Tel: 05327 868 10<br />
                Fax: 05327 5420</td>
                <td width="246" align="left" valign="middle" bgcolor="#CBD7EB">Rapunzel Naturkost AG<br />
                  Haldergasse 9<br />
                  D-87764 LEGAU<br />
                  Tel: 083 30910 &ndash;150<br />
                Fax: 083 30910 175</td>
              </tr>
              <tr>
                <td width="235" align="left" valign="middle"><p>Integgerij G.a. van der Kroon b.v.<br />
                  Van Heemskerckstraat 31<br />
                  Postbus 17<br />
                  4670 AA dinteloord (Holland)<br />
                  Tel: 01671 52 22 50<br />
                Fax: 01671 52 30 05</p></td>
                <td width="246" align="left" valign="middle"><p>Danner, Mr Weinzier<br />
                  Labertalstr. 4<br />
                  D-93161 Alling/Regensburg<br />
                  Tel: 49 9404 95 55<br />
                Fax: 49 9404 2096</p></td>
                <td width="246" align="left" valign="middle">&nbsp;</td>
                <td width="246" align="left" valign="middle">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
</td>
</tr>


</div>

<br>
<br>
{%endblock%}