{% extends 'base.html' %}
{% block body %}
<div class="container" style="overflow-x:hidden;">


 <td valign="top"><p align="center"><strong>Storage Pest Management</strong></p>
       
        <ul class="lh">
          <li>
           No granaries in the earth can be filled with grains without insects. The harvested produce contains egg (or) larvae (or) pupae in them because of field carryover infestation which cannot be avoided in developing countries like India.
          </li>
          <li>
            Hence, timely detection of the stored grain insects will help to prevent heavy losses. TNAU is one of the pioneering institutes in India in the development of detection devices for stored grain insects.
          </li>
          <li>
           These devices exploit the wandering behaviour of the insects and help in timely detection of insects in stored produce leading to timely control. These include viz,
          </li>
          <li>
           TNAU insect probe trap.
          </li>
          <li>
            TNAU Pitfall trap
          </li>
          <li>
            TNAU Two-in-one trap for pulse beetle
          </li>
          <li>
           Indicator Device
          </li>
          <li>
           Automatic insect removal bin.
          </li>
          <li>
           UV &ndash; Light trap for warehouse
          </li>
          <li>
            TNAU Stored grain insect pest management kit
          </li>
        </ul>
        <p class="lh">All these devices can be used for both monitoring and mass trapping of stored grain insects. It is important to note that even a single live insect presence in food grain can&rsquo;t be tolerated as they build up and cause enormous loss in storage due to their high reproductive rate.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
        </p>

          <tr>
            <td align="left" valign="top"><p><strong>1.TNAU INSECT PROBE TRAP</strong> </p>
              <hr size = "1" noshade="noshade" color="488ce0" width="500px" align="left"/>
              <strong>Components</strong>
              <ul class="lh">
                <li>A main tube, insect trapping tube and a detachable cone at the bottom.</li>
                <li>Equispaced perforations of 2 mm diameter are made in the main tube.</li>
              </ul>
              <p><strong>Concept</strong></p>
              <ul>
                <li>Insects love &ldquo;AIR&rdquo; and move towards air. This behaviour of the insect is exploited in this technology</li>
              </ul>
<strong>Method of working</strong>
              <ul class="lh">
                <li>
                 The insect trap has to be kept in the grain like rice, wheat etc., vertically with the white plastic cone downside as shown the figure.
                </li>
                <li>
                 The top red cap must be with the level of the grain. Insects will move towards air in the main tube and enter through the hole.
                </li>
                <li>
                  Once the insect enters the hole it falls down into the detachable white cone at the bottom. Then there is no way to escape and the insects are trapped forever.
                </li>
                <li>
                  The white detachable cone can be unscrewed once in a week and the insects can be destroyed.
                </li></ul></td>
          

          </tr>
          <tr>
            <td colspan="2" align="left" valign="top"><strong>Salient Features</strong>
              <ul>
                <li>No chemicals</li>
                <li>No side effects</li>
                <li>No maintenance cost</li>
                </ul>
<strong>Efficiency</strong>
              <ul class="lh">
                <li> TNAU Insect traps are excellent insect detection devices in food grains and more effective in the detection of stored grain insects namely&nbsp;<em>Rhyzopertha dominica&nbsp;</em>(F.),&nbsp;<em>Sitophilus cryzae&nbsp;</em>(L.) and&nbsp;<em>Tribolium castaneum&nbsp;</em>(Herbst) in stored food grains both in terms of detection as well as number of insects caught than the standard normal sampling method (by spear sampling). </li>
                <li> The detection ratio (trap : normal sample) is higher in trap than of normal sampling method by factors ranging from 2:1 to 31:1. </li>
                <li> The insects catch is also higher in the probe trap than the normal sampling method by factors ranging from 20:1 to 121:1. They are also good mass trapping devices when used at 2 &ndash; 3 numbers / 25 kg bin (28 cm dia and 39 cm length). </li>
                <li> They should be placed at top 6 inches of the grain, where the insect activity is seen during early period of storage. </li>
                <li> They can remove &gt; 80% of the insects within 10 &ndash;20 days. </li>
              </ul></td>
            </tr>
          <tr>
            <td colspan="2" align="left" valign="top"><strong><br />
              </strong>
                <tr>
                  <td width="63%" rowspan="2" align="left" valign="top"><strong>2. TNAU PIT FALL TRAP</strong>
                    <hr size = "1" noshade="noshade" color="488ce0" width="500px" align="left"/>
                    <ul class="lh">
                      <li>Pitfall traps are used for capturing insects active on grain surface and in other layers of grain. (Monitoring and mass trapping tool).</li>
                    </ul>
                    <p align="justify"><strong>Standard Model</strong><br />
                    </p>
                    <ul class="lh">
                      <li>Standard model of pitfall trap has 2 parts, perforated lid (2 mm (or) 3 mm) and a cone shaped bottom portion.&nbsp;<br />
                      </li>
                      <li>Application of special coating with sticky material on the inner side of cone to hold trapped insects is necessary&nbsp;<br />
                      </li>
                    </ul>
                    <p align="justify"><strong>TNAU Model</strong></p>
                    <ul class="lh">
                      <li>TNAU model has perforated lid, cone shaped bottom which tapers into a funnel shaped trapping tube.</li>
                      <li>Hence sticky coating is dispensed with</li>
                      <li>Commercial model is in plastic, simple and economical (cost per trap is Rs. 25/- only).</li>
                      <li>Easy to handle.</li>
                    </ul></td>

                <tr>
                  <td colspan="3"><p align="justify"><strong>3. TNAU TWO-IN-ONE MODEL TRAP</strong></p>
                    <hr size = "1" noshade="noshade" color="488ce0" width="500px" align="left"/>
                    <ul class="lh">
                      <li>
                        The probe trap containing the components namely the perforated tube, pitfall mechanism, a collection tube and the cone shaped pitfall trap with a perforated lid and the bottom tapering cone were combined as a single unit.
                        </li>
                      <li>
                       Combination of probe and pitfall increase the trapping efficiency of insects. Best suited for pulse beetles as they are seen only on grain surface wandering here and there.
                        </li>
                      <li>
                       It does not require tedious procedures like coating the inner surface of pitfall cone with sticky materials before trapping to hold pulse beetles.
                        </li>
                      <li>
                     Beetles are captured alive in this trap, which may facilitate release of pheromone and there by attract more insects.
                        </li>
                  </ul></td>
                  </tr>
                <tr>
                  <td colspan="3"><p align="justify"><strong>4. INDICATOR DEVICE</strong></p>
                    <hr size = "1" noshade="noshade" color="488ce0" width="500px" align="left"/>
                   
                      <ul class="lh">
                        <li>Device consists of a cone shaped perforated cup (3mm perforation) with a lid at the top.</li>
                        <li>The cup is fixed at the bottom with a container and circular dish, which are to be smeared with sticky material like vaseline. Farmers, before storing their pulses, should take 200 g of pulses to be stored and put them in the cup.</li>
                        <li>When the field carried over beetles start emerging, due to their wandering behaviour, they enter the perforations and get slipped off and fall into the trapping portions.</li>
                        <li>As they stick on to the sticky materials, farmers can easily locate the beetles and can take out the bulk-stored pulses for sun drying. The device with 2mm perforations can be used for cereals.</li>
                        <li>This will help in eliminating the initial population, which acts as the major source for further build up. Thus, timely detection will help the farmers to preserve their valuable pulses during storage.</li>
                    </ul>
                   </td>
                </tr>
                <tr>
                  <td colspan="2" rowspan="2"><p align="justify"><strong>5. TNAU AUTOMATIC INSECT REMOVAL BIN</strong></p>
                    <hr size = "1" noshade="noshade" color="488ce0" width="500px" align="left"/>
                   
                      <ul class="lh">
                        <li>TNAU insect removal bin can remove insect automatically. The structure has 4 major parts namely outer container, inner perforated container, collection vessel and the lid.</li>
                        <li>The model exploits wanderin behaviour of stored product insects as well as the movement of these insects towards well aerated regions. The grains are held in the specially designed inner perforated container.</li>
                        <li>The space between inner and outer container provides good aeration for the insects. Insects, while wandering, enter the perforation to reach the aerated part and while doing so, get slipped off and fall into the collection vessel through a pitfall mechanism provided in the collection vessel.</li>
                        <li>In order to quickly collect the insects, as and when they emerge from grains, perforated (2 mm) rods are fixed in the inner container.</li>
                        <li>The container will be useful for storing rice, wheat, broken pulses, coriander etc. The insects such as rice weevil, lesser grain borer, red flour beetle, saw toothed beetle, which are commonly found attacking&nbsp;&nbsp; stored grains can be removed automatically by storing grains in this container.</li>
                        <li>Within a very short period of 10 days a majority of the insects (more than 90 per cent) can be removed from the grains. The containers are available in 2 kg, 5 kg, 25 kg, 100 kg and 500 kg capacities.</li>
                        </ul>
                      <p align="justify"><strong>Efficiency</strong></p>
                    
                        <ul class="lh">
                          <li>Grains (paddy and sorghum) stored in Automatic insect removal bin&nbsp; (100 kg and 500 kg) recorded only 1 &ndash; 4% damage by insects compared to 33 to 65% damage in ordinary bin after 10 months of storage.</li>
                          <li>The population of insects (<em>R. dominica, S. oryzae)</em>ranged from 0 &ndash; 2 / kg in grain stored in 100 kg. Automatic insect removal bin compared to 5 &ndash; 191 / kg in ordinary bin after 10 months of storage.</li>
                        </ul>
                     
                      <p>&nbsp;</p></td>
                 
                <tr>
                  <td colspan="3"><p align="justify"><strong>6. UV &ndash; LIGHT TRAP FOR GRAIN STORAGE GODOWNS</strong></p>
                    <hr size = "1" noshade="noshade" color="488ce0" width="500px" align="left"/>
                   
                      <ul class="lh">
                        <li>The UV light trap mainly consists of an ultraviolet source (4 W germicidal lamp).</li>
                        <li>The lamp produces ultra-violet rays of peak emission around 250 nano meter.</li>
                        <li>The light is fitted at the centre of a funnel of 310 mm diameter at the top and 35 mm diameter at the bottom.</li>
                        <li>The bottom end of the funnel is attached with a transparent plastic container for collecting the trapped insects.</li>
                        <li>To hang the unit at desired points, three hooks have been provided at the periphery of the funnel. The unit is also provided with a tripod stand.</li>
                        <li>The UV light trap can be placed in food grain storage godowns at 1.5 m above ground level, preferably in places around warehouse corners, as it has been observed that the insect tends to move towards these places during the evening hours.</li>
                        <li>The trap can be operated during the night hours.</li>
                        <li>Lesser grain borer the light trap attracts stored product insects of paddy like lesser grain borer<em>,&nbsp;</em>red flour beetle, and saw toothed beetle, in large numbers.</li>
                        <li>Psocids which are of great nuisance in godowns are also attracted in large numbers.</li>
                        <li>&nbsp;Normally 2 numbers of UV light trap per 60 x 20 m (L x B) godown with 5 m height is suggested.</li>
                        <li>The trap is ideal for use in godowns meant for long term storage of grains, whenever infested stocks arrive in godowns and during post fumigation periods to trap the resistant strains and left over insects to prevent build up of the pest populations.</li>
                        <li>In godowns of frequent transactions the trap can be used for monitoring. </li>
                    </ul>
                            <tr>
                              <td><p align="justify"><strong>Efficiency</strong></p>
                               
                                  <ul>
                                    <li>It has been found that two traps kept at the corners of the warehouse (60m x 20m x 5m) can catch around 200 insects/day even from a godown where normal sampling did not show any insect presence, thus indicating its effectiveness as a monitoring and mass trapping device.</li>
                                    <li>It has been recorded around 3000 lesser grain borer on a single day from single trap kept in a paddy godown.</li>
                                  </ul>
                               </td>
                         
                            </tr>
                       
                   </td>
                </tr>
                <tr>
                  <td colspan="3"><p align="justify"><strong>7. TNAU STORED GRAIN INSECT PEST MANAGEMENT KIT</strong></p>
                    <hr size = "1" noshade="noshade" color="488ce0" width="500px" align="left"/>
                  
                      <ul class="lh">
                        <li><strong>TNAU-Stored Grain Insect Pest Management Kit&nbsp;</strong>containing prototypes of all the devices along with a CD-Rom about the devices and how to use them.</li>
                        <li>This kit will be of great use in popularization of the technologies across the country.</li>
                        <li>The kit will be an ideal &ldquo;hands &ndash; on training&rdquo; tool for Education, Extensioncenters (KVK, Plant clinic, save grain centers) and also for private ware housing.</li>
                        <li>This TNAU kit is the first of its kind in the world.</li>
                    </ul>
                    </td>
                </tr>
              <br />              <p align="left"><strong>Reference:</strong></p>
              <p align="justify" class="lh">Concept: Eco-friendly post-harvest technologies for management&nbsp;of stored grain insects at farm, home and rehouse - a step towards clean grain (insect free) revolution. Dr.S.Mohan, Professor of Agrl. entomology, Department of Cotton, Centre of Plant Breeding and Genetics, TNAU, Coimbatore - 3</p>              <br /></td>
          </tr>
      </td>
  </div>



</div>

<br>
<br>
{%endblock%}