{% extends 'base.html' %}
{% block body %}

	<div class="panel-group">
		<div class="panel panel-default">

			<div class="panel-heading"><h3><b>Discussion Forum</b></h3></div>
			{% for q in questions %}
			<div class="panel-body">
				<div class="media">
					<div class="media-left">
						<img src="img/user.png" class="media-object" style="width:60px">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{q.user.username}}</h4>
						<p>
							<div class="row">
								<div class="col-sm-4">
									<a style="color:#2577b1;" href="{% url 'user_panel:question_detail' q.id %}"> {{q.question}}</a><br>
									{{q.user.email}}
								</div>
								<div class="col-sm-4">
									<b>Likes:</b>&nbsp;{{q.useful}}&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
									<b>Likes:</b>&nbsp;{{q.not_useful}}&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
								</div>
								<div class="col-sm-4">
									<div style="color:#2577b1;"> {{q.created}}</div>
								</div>

							</div>



						</p>
					</div>
				</div>
			</div>
			<hr>
			{% endfor %}
			<form class="form-horizontal" id="question">
    <div class="form-group">
      <label class="control-label col-sm-2" for="query">Your Query:</label>
      <div class="col-sm-10">
       <textarea id="query" name="query" placeholder="Enter Your Query"></textarea> 
       </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

  <script>
  	$('#question').submit(function(e){
		e.preventDefault();
		data = {'query': $('#query').val()};
		console.log(data)
		if($('#query').val()=='')
		alert ("Empty");
		else
		{
			$.ajax({
			type: "POST",
			url: "",
			data:data,
			success: function(data){
				$('#query').text("");
				console.log(data);	
				if(data=="Successful")
					alert("Question Submitted");
				else
					alert("Error Occured");
			}

	});
		}
	});
  </script>
			<!-- <div class="panel-body">
				<div class="media">
					<div class="media-left">
						<img src="img/user.png" class="media-object" style="width:60px">
					</div>
					<div class="media-body">
						<h4 class="media-heading">Mihir </h4>
						<p>
							<div class="row">
								<div class="col-sm-4">
									<a style="color:#2577b1;"> Refund not yet initiated by Flipkart</a><br>
									asifrahmanshaik@yahoo.com Nov 16, 2017
								</div>
								<div class="col-sm-4">
									<b>Likes:</b>&nbsp;400 &nbsp;<span class="glyphicon glyphicon-thumbs-up"></span><br>
									<b>Dislikes:</b>&nbsp;4 &nbsp;<span class="glyphicon glyphicon-thumbs-down"></span>

								</div>
								<br>

								<div class="col-sm-4">
									<div style="color:#2577b1;">14th November 2017</div>
								</div>

							</div>



						</p>
					</div>
				</div>
			</div> -->
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		
		</footer>
		<script type="text/javascript">
			$(function () {
				$(document).scroll(function () {
					var $nav = $(".navbar-fixed-top");
					$nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
				});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function(){

				$('#itemslider').carousel({ interval: 3000 });

				$('.carousel-showmanymoveone .item').each(function(){
					var itemToClone = $(this);

					for (var i=1;i<6;i++) {
						itemToClone = itemToClone.next();

						if (!itemToClone.length) {
							itemToClone = $(this).siblings(':first');
						}

						itemToClone.children(':first-child').clone()
						.addClass("cloneditem-"+(i))
						.appendTo($(this));
					}
				});
			});

		</script>


	{% endblock %}

























