{% extends 'base.html' %}

{%block body%}

<div class="container">
    <div class="card card-container"  id="register">
      <h3> Register</h3>
      <form name="myform" class="form-signin" action="#" method="post" onsubmit="return validateForm()">
        <span id="reauth-email" class="reauth-email"></span>

        <input type="text" class="form-control" name="first_name" id="firstname" placeholder="First Name" required autofocus>
        <input type="text" class="form-control" name="last_name" id="lastname" placeholder="Last Name"  autofocus>
        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Mobile No" required  >
        <input type="text" class="form-control" name="address" id="address" placeholder="Address" required autofocus>
        <input type="text" class="form-control" name="city" id="city" placeholder="City" required autofocus>
        <input type="text" class="form-control" name="pincode" id="pincode" placeholder="Pincode" required autofocus>
        <h6><b>&nbsp; &nbsp; Upload Profile Photo</b></h6>
        <input type="file" class="form-control" name="image" id="upload" placeholder="Upload Photo" required  />
        <br>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <input type="password" id="confirmPassword" name="password2" class="form-control" placeholder="confirmPassword" required>
        <div id="remember" class="checkbox">

        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin"  type="submit" value="Submit">Register</button>
      </form><!-- /form -->

    </div><!-- /card-container -->
  </div>

  <br>
  <br>
  <script type="text/javascript">
  function validateForm() {
    var x = document.forms["myform"]["mobile"].value;
    if(x.length!=10)
    {
      swal("Enter a valid Mobile No.");
      return false;
    }
    var y=document.forms["myform"]["password"].value;
    var z=document.forms["myform"]["password2"].value;
    if(y!=z){
      swal("Password Doesn't Match");
      return false;

    }

  }
</script>
  {% endblock %}
