<html>
<head>
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<style>
.mihir{
 border-radius: 50%;
 background-color: green;
 color:white;
 border-color: green;
 height:35px;
 width:35px;
}
.mihir:hover{
border-radius: 50%;
 
   box-shadow: 1px 1px 5px grey;

 color:white;
 width:35px;
 height:35px;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

 <input class="mihir" onclick='responsiveVoice.speak( "{{ text }}" ,"Hindi Female");' type='button' value="&#128264
"></input>
</body>
</html>