<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body></body>>

<div class="container">
    <h1>Password reset</h1>
    <p>
        Forgotten your password? Enter your email address below, and we will email instructions for setting a new one.
    </p>
    <form method="post" class='form-horizontal'>
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit" class="btn btn-success" style="float: right;margin-top: -40px;margin-right: 780px;">Reset password</button>
    </form>
</div>

</body>
</html>