{% extends 'base.html' %}
{% block body %}
	<div id="carousel-example" class="carousel slide" data-ride="carousel" >


		<div class="carousel-inner" style="height:auto;">
			<div class="item active">
				<a href="#"><img src="/media/47.jpg" /></a>
				<div class="carousel-caption">

				</div>
			</div>
			<div class="item">
				<a href="#"><img src="/media/48.jpg" /></a>
				<div class="carousel-caption">

				</div>
			</div>
			<div class="item">
				<a href="#"><img src="/media/49.jpg" /></a>
				<div class="carousel-caption">

				</div>
			</div>
		</div>

		<a class="left carousel-control" href="#carousel-example" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>

	<!--header end-->
	<br>
	<br>
	<br>


	<!--recommemed Product-->



	<!--Item slider text-->
	<div class="container">
		<div class="row" id="slider-text">
			<div class="col-md-6" >
				<h2>Recommended Products</h2>
			</div>
		</div>
	</div>

	<!-- Item slider-->
	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="carousel carousel-showmanymoveone slide" id="itemslider">
					<div class="carousel-inner">

						<div class="item active">
							<div class="col-xs-12 col-sm-6 col-md-2">
								<a href="#"><img src="https://s12.postimg.org/655583bx9/item_1_180x200.png" class="img-responsive center-block"></a>
								<h4 class="text-center">Wood & Timber</h4>
								<h5 class="text-center">Rs 100</h5>
							</div>
						</div>
						{% for p in recommended %}
						<div class="item">
							<div class="col-xs-12 col-sm-6 col-md-2">
								<a href="#"><img src="{{p.image.url}}" class="img-responsive center-block" height="300px" style="height:200px !important;"></a>
								<h4 class="text-center">{{p.name}}</h4>
								<h5 class="text-center">&#x20b9; &nbsp;&nbsp;{{p.price}}</h5>
							</div>
						</div>
						{% endfor %}

					


					</div>

					<div id="slider-control">
						<a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://s12.postimg.org/uj3ffq90d/arrow_left.png" alt="Left" class="img-responsive"></a>
						<a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://s12.postimg.org/djuh0gxst/arrow_right.png" alt="Right" class="img-responsive"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Item slider end-->

		<div class="container">
		<div class="row" id="slider-text">
			<div class="col-md-6" >
				<h2>Top discounted products</h2>
			</div>
		</div>
	</div>

	<!-- Item slider-->
	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="carousel carousel-showmanymoveone slide" id="itemslider">
					<div class="carousel-inner">

						<div class="item active">
							<div class="col-xs-12 col-sm-6 col-md-2">
								<a href="#"><img src="https://s12.postimg.org/655583bx9/item_1_180x200.png" class="img-responsive center-block"></a>
								<h4 class="text-center">Wood & Timber</h4>
								<h5 class="text-center">Rs 100</h5>
							</div>
						</div>
						{% for p in discounts %}
						<div class="item">
							<div class="col-xs-12 col-sm-6 col-md-2">
								<a href="#"><img src="{{p.image.url}}" class="img-responsive center-block" height="300px" style="height:200px !important;"></a>
								<h4 class="text-center">{{p.name}}</h4>
								<h5 class="text-center">&#x20b9; &nbsp;&nbsp;{{p.price}}</h5>
							</div>
						</div>
						{% endfor %}

					


					</div>

					<div id="slider-control">
						<a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://s12.postimg.org/uj3ffq90d/arrow_left.png" alt="Left" class="img-responsive"></a>
						<a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://s12.postimg.org/djuh0gxst/arrow_right.png" alt="Right" class="img-responsive"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Item slider end-->

		


	<script type="text/javascript">
		$(function () {
			$(document).scroll(function () {
				var $nav = $(".navbar-fixed-top");
				$nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
			});
		});
	</script>
	<!-- <script type="text/javascript">
		$(document).ready(function(){

			$('#itemslider').carousel({ interval: 3000 });

			$('.carousel-showmanymoveone .item').each(function(){
				var itemToClone = $(this);

				for (var i=1;i<6;i++) {
					itemToClone = itemToClone.next();

					if (!itemToClone.length) {
						itemToClone = $(this).siblings(':first');
					}

					itemToClone.children(':first-child').clone()
					.addClass("cloneditem-"+(i))
					.appendTo($(this));
				}
			});
		});

	</script>
 -->
{% endblock %}